<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>古诗分析</title> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="renderer" content="webkit"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="keywords" content=""> 
  <meta name="description" content=""> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/chart/echarts.min.js"></script> 
  <link rel="stylesheet" href="/zone/plugins/chart/zcharts.view.css"> 
  <script type="text/javascript" src="/zone/plugins/chart/zcharts.view.js"></script> 
  <script type="text/javascript" src="/zone/plugins/laydate/laydate.js"></script> 
  <script type="text/javascript" src="/zone/plugins/jquery/imagesloaded.pkgd.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/jquery/masonry.pkgd.min.js"></script> 
  <link rel="stylesheet" href="/zone/plugins/viewer/viewer.min.css"> 
  <script type="text/javascript" src="/zone/plugins/viewer/viewer.min.js"></script> 
  <style></style> 
 </head>
 <body> 
  <div class="container"> 
   <div class="row"> 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
     <div class="zchart" data-type="html"> 
      <div class="zchart-head" style="display:none"> 
       <div class="title">
        首页导航
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body" style="overflow: auto;"> 
       <nav class="navbar navbar-default"> 
        <ul class="nav navbar-nav"> 
         <li role="presentation"> <a href="/zone/index.html"> 首页 </a> </li> 
         <li role="presentation"> <a href="/zone/chart/view/bus.html"> 秋名车神 </a> </li> 
         <li role="presentation"> <a href="/zone/chart/view/xmkanshu.html"> 龙剑天尊 </a> </li> 
         <li role="presentation" class="active"> <a href="/zone/chart/view/gushi.html"> 唐诗宋词 </a> </li> 
         <li role="presentation"> <a href="/zone/chart/view/vsinger.html"> vsinger </a> </li> 
        </ul> 
       </nav> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="row"> 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
     <div class="zchart panel panel-default panel-info" data-type="pie" data-url="chart/view/gushi/134_1.json"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        各朝代数量
       </div> 
       <form class="zparams"> 
       </form> 
      </div> 
      <!-- pie --> 
      <div class="zchart-body panel-body" style="overflow: auto;height:400px"> 
      </div> 
      <script type="text/plain" data-options>options = {
    fields: [{
        field: "danysty",
        value: "num",
        serie: "author"
    }],
    series: [{
        radius: [0, '30%']
    },
    {
        radius: ['40%', '60%']
    },
    {
        radius: ['70%', '80%']
    }],
    onLoadSuccess: function(result) {
        //console.log(JSON.stringify(result.dataset));
    },
    beforeSetOption: function(option) {
        console.log(JSON.stringify(option));
    }
}</script> 
     </div> 
    </div> 
   </div> 
  </div>   
 </body>
</html>