<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>诗驯天依</title> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="renderer" content="webkit"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="keywords" content="大侠洛天依"> 
  <meta name="description" content="二次元著名歌姬，世界第一吃货殿下"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/chart/echarts.min.js"></script> 
  <link rel="stylesheet" href="/zone/plugins/chart/zcharts.view.css"> 
  <script type="text/javascript" src="/zone/plugins/chart/zcharts.view.js"></script> 
  <script type="text/javascript" src="/zone/plugins/laydate/laydate.js"></script> 
  <script type="text/javascript" src="/zone/plugins/jquery/imagesloaded.pkgd.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/jquery/masonry.pkgd.min.js"></script> 
  <link rel="stylesheet" href="/zone/plugins/viewer/viewer.min.css"> 
  <script type="text/javascript" src="/zone/plugins/viewer/viewer.min.js"></script> 
 </head>
 <body> 
  <div class="container-fluid" style="margin-top: 15px"> 
   <div class="row"> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style=""> 
     <div class="zchart panel panel-default panel-info" data-type="text"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        彼岸花 - 洛天依
       </div> 
      </div> 
      <!-- text --> 
      <div class="zchart-body panel-body" style="overflow: auto;height:400px"> 
       <pre>微风轻拂雨飘洒 昨夜花开满枝桠 

隐隐山前一缕霞 小桃闲补两三花 

红袖添香染古刹 琴瑟相和洗铅华 

谁人月光下作画 谁赋诗来以情答 

任岁月匆匆如流沙 任四季飘荡荡的天涯

奈何桥向往的彼岸花 茫茫人海孤独泪落下

谁在意生命的真与假 谁念起他曾经说过的话

一天一天衰老粉黛脸颊 只留下对世间的牵挂</pre> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style=""> 
     <div class="zchart panel panel-default panel-success" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        天青色等烟雨
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;height:400px;overflow:hidden"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/user/1257924/item/web/179qe/ff924a60a5d311e8b0f2b18657a2665d.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style=""> 
     <div class="zchart panel panel-default panel-warning" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        仿生偶像天依酱
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;height:400px;overflow:hidden"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/user/1257924/item/web/179l1/92883ec07b7611e88107490782e3e777.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style=""> 
     <div class="zchart panel panel-default panel-danger" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        绝体绝命百万传说
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;height:400px;overflow:hidden"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/4bqs/f2788a2037be11e88159f9c0d47c1c50.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style=""> 
     <div class="zchart panel panel-default " data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        柠檬天依
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;height:400px;overflow:hidden"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/user/1257924/item/web/179np/3eb0d5008fbc11e8822b65bd3c10684e.png/w650" style="max-height:700px"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style=""> 
     <div class="zchart panel panel-default panel-info" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        处暑
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;height:400px;overflow:hidden"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/4bq6/33d8cb40082811e884524b248a88ac76.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style=""> 
     <div class="zchart panel panel-default panel-success" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        feel your dream
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;height:400px;overflow:hidden"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/1796p/4000aa30f83511e791fef36d21d55582.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style=""> 
     <div class="zchart panel panel-default panel-warning" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        新年明信片
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;height:400px;overflow:hidden"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/4bq1/0699fe70f37811e79a8f3b9d006bec0d.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style=""> 
     <div class="zchart panel panel-default panel-danger" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        圣诞快乐
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;height:400px;overflow:hidden"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/c0c7s/9e052a10e89111e7b1cee5b0569b38cd.png/w650"> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="row"> 
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style=""> 
     <div class="zchart panel panel-default " data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        杏花巷
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;"> 
       <iframe src="//player.bilibili.com/player.html?aid=14475975&amp;cid=23613729&amp;page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" height="400px" width="100%"> </iframe> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style=""> 
     <div class="zchart panel panel-default panel-info" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        春山雪落谣
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;"> 
       <iframe src="//player.bilibili.com/player.html?aid=14889259&amp;cid=24260344&amp;page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" height="400px" width="100%"> </iframe> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div>   
 </body>
</html>