<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>诗驯vsinger</title> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="renderer" content="webkit"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="keywords" content="诗驯vsinger全家福"> 
  <meta name="description" content="可爱表情包，卡哇伊"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/chart/echarts.min.js"></script> 
  <link rel="stylesheet" href="/zone/plugins/chart/zcharts.view.css"> 
  <script type="text/javascript" src="/zone/plugins/chart/zcharts.view.js"></script> 
  <script type="text/javascript" src="/zone/plugins/laydate/laydate.js"></script> 
  <script type="text/javascript" src="/zone/plugins/jquery/imagesloaded.pkgd.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/jquery/masonry.pkgd.min.js"></script> 
  <link rel="stylesheet" href="/zone/plugins/viewer/viewer.min.css"> 
  <script type="text/javascript" src="/zone/plugins/viewer/viewer.min.js"></script> 
  <style></style> 
 </head>
 <body> 
  <div class="container"> 
   <div class="row"> 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
     <div class="zchart" data-type="html"> 
      <div class="zchart-head" style="display:none"> 
       <div class="title">
        首页导航
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body" style="overflow: auto;"> 
       <nav class="navbar navbar-default"> 
        <ul class="nav navbar-nav"> 
         <li role="presentation"> <a href="/zone/index.html"> 首页 </a> </li> 
         <li role="presentation"> <a href="/zone/chart/view/bus.html"> 秋名车神 </a> </li> 
         <li role="presentation"> <a href="/zone/chart/view/xmkanshu.html"> 龙剑天尊 </a> </li> 
         <li role="presentation"> <a href="/zone/chart/view/gushi.html"> 唐诗宋词 </a> </li> 
         <li role="presentation" class="active"> <a href="/zone/chart/view/vsinger.html"> vsinger </a> </li> 
        </ul> 
       </nav> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="row"> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> 
     <div class="zchart panel panel-default panel-info" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        阿绫
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/178vm/e595d870684e11e7855a099854747cfb.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> 
     <div class="zchart panel panel-default panel-success" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        天依
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/178vm/e31ebdf0684e11e7855a099854747cfb.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> 
     <div class="zchart panel panel-default panel-warning" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        星尘
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/178vm/e7dbd0d0684e11e7855a099854747cfb.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> 
     <div class="zchart panel panel-default panel-danger" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        心华
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/178vm/e9ede7f0684e11e7855a099854747cfb.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> 
     <div class="zchart panel panel-default panel-primary" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        言和
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/178vm/e9050e90684e11e7855a099854747cfb.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> 
     <div class="zchart panel panel-default panel-info" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        战音
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/178vm/e1fdbd90684e11e7855a099854747cfb.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> 
     <div class="zchart panel panel-default panel-success" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        墨清弦
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/178vm/e6945cb0684e11e7855a099854747cfb.png/w650"> 
      </div> 
     </div> 
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> 
     <div class="zchart panel panel-default panel-warning" data-type="html"> 
      <div class="zchart-head panel-heading"> 
       <div class="title">
        天依萌
       </div> 
      </div> 
      <!-- html --> 
      <div class="zchart-body panel-body" style="overflow: auto;"> 
       <img class="view" src="https://img-bcy-qn.pstatp.com/drawer/38963/post/178vm/e491d5f0684e11e7855a099854747cfb.png/w650"> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div>   
 </body>
</html>