<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第12章　表达意图 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第12章　表达意图 </strong></td> 
     </tr> 
     <tr> 
      <td id="content"> 
       <div style="line-height:1.7;text-indent: 2em;">
        听到马车厢内的少女邀请，唐生并没有太多的意外。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        刚刚觉醒前世记忆，他的处境很坏。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐木苟父子在唐生看来，还成不了什么麻烦，但是唐木苟父子的背后，显然是有人指使的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        背靠大树好乘凉。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他既然有一身才华，那就先找一方势力来依靠。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “那在下就恭敬不如从命了。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生微微行礼回应。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        不过，他话音一转，看着面前的大胡子，说道：“姑娘，这个大胡子也只是为了想怕我马屁，有口无心，有了这次教训，只怕再给他十个胆子，以后也不敢乱说话了。我看，就饶过他这一回吧。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        铁中山的心还七上八下的呢，这回听见唐生竟然开口为他求情，内心感动得差点要掉泪来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “既然已经知错，那就看在公子的面子上，饶了你这一次！以后若敢在外面胡乱诋毁天玄商会的名声，定斩不饶！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        少女轻描淡写的声音，说到后面几个字时，突然冰冷凌厉，带着几分杀意。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生一听，内心凛然。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这少女，绝对是见过血杀过人的，可别要被她柔弱好听的声音给迷惑了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “是是，谢谢姑娘！谢谢小神医！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        铁中山赶紧行礼，边弯腰鞠躬边往后退去。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        眼瞅着退到一定距离，就要转身拔腿而逃时，唐生的声音淡淡的响起了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “站住！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “啊～小神医，你……你还有什么吩咐？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        铁中山赶紧转身小心的询问道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “你似乎还没付我医药费吧。怎么，难道你以为我是白给你治疗的？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生淡淡的说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        倒是不贪图铁中山的这几个钱，而是他想要在天玄商会的人面前，表达两个意思。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        一个意思是他很缺钱。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        另一个意思是他可以为了钱来给人治病。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这也是方便天玄商会进一步拉拢他。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        毕竟有所求的人，总比无欲无求的人容易拉拢。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “呃……不知……不知小神医，要……要多少医药费？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        铁中山声音发颤的说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        内心又七上八下，做好了被宰一顿的心理准备了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “你是我出师后第一个治疗的对象，给你治病，也是机缘巧合。这样吧，小溪，你说，我们该收多少钱？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生问向旁边惊呆住了，久久没有回过神来的小溪。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这小丫头天生丽质，美人胚子，这发愣的模样，还真别有一番可爱，让唐生忍不住伸出手来捏了捏她的小脸蛋。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “啊～少爷，你……你刚刚说了什么？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪没有听清楚，赶紧小声的询问。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她的心跳还是扑通扑通的剧烈跳着的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她的小脸还是有些煞白的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        此时，她的呆萌状又有些让人怜惜。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “本少爷不是说了么？本少爷的医术，可以给武者治病赚大钱！现在，这大胡子的病我治好了，你说该收他多少的医药费？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生大声的问道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “我……我……少爷，我怎么知道。你说收多少，就……就收多少……”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪瞥了大胡子一样，拉着唐生的胳膊，小声的说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她哪里见过这样的世面？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        像铁中山这样的大高手，别说他她和唐生了，就算是老爷还在时，面对他们，也是要客客气气的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        可现在，这个大胡子见到唐生，卑躬屈膝，惶惶恐恐。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        还有这豪华马车内的大人物，似乎此刻非但不找她和唐生的麻烦，还有要结交的意思呢。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她只是唐生身边的一个小丫鬟，这样的大事情，可不敢乱说，生怕坏了唐生的事情。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “以后治病收钱当然是我说了算，不过，这一次，我家小溪说了算。你说多少，就多少。说多了，他要给，说少了，也无所谓。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生笑道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他又用力的捏了捏这丫头还是很苍白的小脸蛋，示意她大胆些。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪俏脸一红，总算是恢复了些血色。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她看着铁中山满脸是血的样子，也觉得这大胡子有些可怜。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        想了想，小声的对着唐生说道：“少爷，我们花了三十五两银子买了这些银针和金针，那……那我们就收他三十五两吧，至少……至少我们可不能亏本，行不行？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        其实，在小溪的心里，三十五两银子已经是一笔大数目了，毕竟她和唐生的身家加起来，也就三十多两银子而已。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “好的。大胡子，你听到没有？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生问向铁中山。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        铁中山一脸的懵逼。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        什么？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        才……才三十五两？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “小神医，你……你没跟我开玩笑吧。你……你只收三十五两？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        铁中山难以置信啊。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        因为他已经做好砸锅卖铁的准备了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他这伤势，就算是到天玄商会里治疗，没有个几千两，绝对不行的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “我家小溪说收你三十五两就三十五两。少废话，拿钱来吧！第二次你找我治病，可不会这么便宜了。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生大声的说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “是，是！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        铁中山生怕唐生改变主意，他赶紧从怀里拿出几张小号的银票，三张十两，一张五两的，恭恭敬敬的递给唐生。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “好了，你可以走了。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生接过银票，顺手递给了身边的小溪。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “是是。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        铁中山如蒙大赦，他生怕这其中还有什么波折，赶紧转身就跑。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “少爷，我……我是不是要少了？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪接过银票，放进她腰间的小荷包里，可却一脸犯错了的样子。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “当然要少了！你就算问他要三千两，都算是便宜的了。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生笑道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “啊～三千两？那……那……我们……”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这小丫头傻眼了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她回过神来，急得一阵跺脚，她就想反悔，要叫住铁中山来重新开价，可街上哪里还有铁中山的影子？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        要是亏些小本就算了，可一下子亏了好几千两，这三十五两简直连真正医药费的一个零头都不到呢。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她这辈子还没见过几千两的银票呢。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        要知道，他们还有三万两的债务呢！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这一下子，她哪里还觉得这大胡子可怜，只觉得这大胡子可恨！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        欠她家少爷这么多治疗费不还！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        以后逮到机会，一定要讨回来！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “好了，好了。他是本少爷的第一个病人，算是开门红，以后的病人多得是，只怕排队等着本少爷给他们治病，到时候数钱让你数到手软去。别去计较了。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生摸了摸这小丫头的小脑袋，示意她开心些。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他也明白，并非是小溪小气，而是他们两人以前相依为命，穷日子过惯了，别说几千两了，就算是几两银子，对于小溪来说，都是好几天的生活开销了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        安慰完小溪，这才对着马车厢内等待的少女和张华雀说道：“我和我家的丫头都没见过世面世面，我也是打肿脸充胖子，让两位见笑了。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “治病收钱，天经地义。公子这是真性情。请上车！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        少女笑道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她的声音，这回多出一丝的温和。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        因为小溪的这一番斤斤计较想要反悔的懊恼，反而让她觉得这对主仆很实在，也很有意思。
       </div> </td> 
     </tr> 
    </tbody>
   </table> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/11.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/13.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
$(window).scroll(function(){
	var scrollTop = $(this).scrollTop();   
	var scrollHeight = $(document).height();  
	var clientHeight = $(this).height();
	if(scrollTop + clientHeight >= scrollHeight && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}else if(scrollTop<=0 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}
});
</script> 
 </body>
</html>