<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第13章　天之骄女 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第13章　天之骄女 </strong></td> 
     </tr> 
     <tr> 
      <!-- 				<td align="right" valign="top"><strong>内容</strong></td> --> 
      <td id="content"> </td> 
     </tr> 
    </tbody>
   </table> 
   <textarea style="display: none;">马车夫拿出踏板，又轻轻的撩起帘子，在一旁卑躬屈膝，很周到的请唐生上马车。
小溪不懂规矩，懵懵懂懂的想跟在唐生的身后，就想要跟着进车厢。
可就在这时候，她感受到马车夫锐利的目光看向她。
“小丫头，你坐在这吧。”
马车夫指了指自己身边的一个赶马的座位，他在提醒小溪，她这样的小丫鬟身份，可别要没大没小了。
里面是主人的位置，下人是不能进去的。
小溪也反应过来。
唐生家没有规矩，可是这些大人物的家，规矩可是多得很呢。
“嗯。”
她乖乖的点点头，赶紧转了个方向，不再进入车厢内，而是坐在车厢外的赶马位置上。
不过，她还没来得及转完身，唐生的手已经伸出来，拉住了她的手臂。
“小溪，外面风大，冷，进来坐，里面暖和。”
唐生说道。
“少爷，没事的。”
小溪赶紧小声说道。
她还给唐生使了一个眼色，示意唐生可不要在大人物面前失礼了。
“公子，你进去吧，可别让我家小姐等久了。这丫头只是你家的下人，她的身份不适合进去。”
马车夫见唐生竟然要拉小溪一同进马车，这还得了？
他赶紧出声提醒。
要知道，别说这小丫头了，就算是他这样的地境修为的下人，也是没有资格进马车厢里坐的。
“这小丫头可不是我家的下人，她喊我少爷，那是从小到大喊惯了。她跟我一起长大，这几年又相依为命，若没有她照顾，也没有我今天。她实则已经是我的妹妹。”
唐生说道。
“少爷，我……”
小溪哪里听过唐生如此真情表露的话？
先是俏脸通红，内心一股温暖流淌。
她从没想到，自己在唐生的心中这么重要。
不知怎么的，她那美丽的眼珠子里，就是忍不住的溢出泪水。
“不许哭。放心吧，我们以后可不会再过苦日子了。”
唐生又轻轻的捏着这小丫头通红的小脸蛋，语气很轻，可掷地有声。
“嗯。”
小溪用力的点点头。
从没有像现在这样，对于未来的生活充满了期待。
唐生转身弯进车厢。
车厢很宽敞。
三米多长，将近两米宽，就如同一间移动的小房子一样，装修得很奢华。
在车厢的左侧，盘膝而坐在蒲团上的，是一位身穿青色草纹药袍的中年男子，鬓发已白，气息儒雅中带着一股身居高位的贵气。
唐生想来，他就是天玄商会的五品首席药师张华雀了。
在车厢正前方的主位置上，盘坐的是一位白衣女子，她蒙着面纱，看不清面容，可是一双眼睛很是灵动和明亮。
这就是那位少女了。
在唐生看着这位少女的时候，这位少女也在打量着唐生。
“姑娘，张药师，小溪可不是我家的下人，她一点修为都没有。深秋了，马车行得急，风大，能否让她也进来坐坐？”
唐生开口询问道。
一些人或许说出这番话来，会觉得很唐突和尴尬，可唐生却说得很自然。
……
东伯雪很仔细的看着唐生。
这个年纪比她小一点的少年，穿的是穷人家才会穿的粗布麻衣，可却生得唇红齿白，剑眉星目。
再加上他身上那一种不亢不卑的自信谈吐，使得这个少年让她看上第一眼就觉得很顺眼。
她很好奇，她明明已经收敛了修为，这个少年是怎么发现她在车厢内的？
当然了，现在她更好奇的是这年纪轻轻的少年如何会一手如此高明的医术。
既然会如此高明的医术，那么他的修为为什么这么低，以及穿着怎么如此普通？
“车厢这么宽，让你的妹妹也进来坐吧。”
东伯雪柔声的说道。
唐生这样的有情有义，也让东伯雪对于他的好感，多了几分。
“小溪，里面的姐姐也邀你进来坐了，快进来吧。”
唐生回头对着车厢外的小溪说道。
“少爷，哪里有你这样不懂礼数的？”
小溪有些急。
她没想到唐生竟然为了让她能够做进马车厢里，还真跟里面的主人提出来了。
这真是太失礼了。
不过，她心里更多的还是感动。
车厢的中段，摆放着一个圆形的木桌。
木桌的材质浅红，天然的发出一种很好闻的香气，可以提神。
张华雀在木桌上煮茶，桌上还摆放着几盘小溪从未见过的果子。
旁边摆好了两张蒲团，唐生在东伯雪对面的那张蒲团坐了下来，同时示意小溪坐在旁边的那个蒲团上。
“在下唐生，她叫做唐小溪。这位定然是大名鼎鼎的张华雀大师了。”
唐生对着在泡茶的张华雀说道，同时行了一个礼。
“哈哈，在小神医面前，老夫哪里又敢称大师？”
张华雀也回了一个礼，并不敢直接受去。
“张大师谦虚了，在唐家城谁人不知道你的大名？”
唐生恭维一番，这又看向对面盘膝而坐的东伯雪，行礼说道：“唐生见过姑娘。”
“我叫东伯雪。”
东伯雪说道。
她的目光瞥向小溪。
看到小溪穿得比唐生还要破烂，不过，看到即便是这么破烂的衣服还是难掩这小丫头的天生丽质时，她心里似乎在猜测些什么。
“见过东伯姑娘。”
唐生重新说道。
“小溪见过东伯小姐，见过张大师。”
见唐生行完礼后，小溪赶紧跟着行礼。
“你们都无需多礼。”
东伯雪说道。
她声音清冷，从她平静的外表也看不出喜怒。
可小溪只觉得，这位高贵的东伯雪小姐浑身上下都散发出一种让她自卑的气质，让她生不起任何的勇气跟这位东伯雪小姐对视。
所以，她只能够低下头来，像是木头一样的坐在蒲团上。
她觉得她能够坐在这里，已经是最大的荣幸了。
同时她内心也祈祷着，少爷可不要在这样美丽高贵的东伯雪小姐面前出洋相才好。
……
大世家、大势力，规矩很多。
茶没有泡好。
东伯雪也并没有开口谈话的意思，她只是在安静的打量着唐生。
她想从唐生的身上看出些什么。
可是她越是观察，得到的疑惑就越多。
这个稚嫩的少年，不仅有着英俊的外表，还有着不符合年龄的气场。
至少她觉得眼前这个连人境都不是的少年，在她这位超级强者面前没有一点的慌张，反而还很淡然。
这种淡然，就仿佛他们彼此之间的关系乃是平等的，没有高下之分，只有以诚相待，就仿佛交往很多年的好朋友一样。
她看向唐生的眼眸，发现这个少年的眼眸乌黑而深邃，仿佛洞穿了一切。
她还发现唐生在她看向他时，也并不畏惧，很坦然的迎上她的目光。
平静而无邪的目光。
虽然蒙着面纱，但从她散发出来的气质和她傲人的身材，任何男人都可以看出她是一位大美人，或多或少都会偷看几眼。
可她发现，这个少年的目光里，并没有那么多的龌蹉思想。
寻常的男子在她面前，是畏惧她的威势而不敢看，甚至连跟她对视的勇气都没有。
可眼前这个少年，不仅敢看了她，还让她觉得很舒服。
“茶泡好了没有？”
东伯雪问道。
在跟唐生的对视目光里，她还是先移开了。
她也不知道为什么。
或许她再怎么高高在上，终究还是一个十八九岁的少女而已。
“还……还差些火候。”
张华雀说道。
他有些诧异的看着东伯雪。
他很意外。
这位东伯世家的绝世少女，高冷孤傲，何时如此着急了？</textarea> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/12.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/14.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
var cont = $('textarea').val();
// 非html文本进行换行美化
if($('textarea').val().indexOf('<div')==-1 && $('textarea').val().indexOf('<p')==-1 && $('textarea').val().indexOf('<br')==-1 && $('textarea').val().indexOf('<img')==-1){
	cont = '';
	var arr = $('textarea').val().split('\n');
	$.each(arr, function(i, n){
		cont += '<div style="line-height:1.7;text-indent: 2em;">'+n+'</div>';
	});
}
$('#content').html(cont);
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
</script> 
 </body>
</html>