<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第15章　暗藏交锋 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第15章　暗藏交锋 </strong></td> 
     </tr> 
     <tr> 
      <td id="content"> 
       <div style="line-height:1.7;text-indent: 2em;">
        小溪想要端起唐生面前的茶杯，代替唐生喝了这一杯“毒茶”。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        可是，这杯茶是东伯雪用来试探唐生虚实的一场考验，哪里容得她来搅局？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        刚想要动，突然感受到身体周围的空气，陡然凝固起来，如同冰封一样，让她动弹不得。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她顿时傻愣住了，甚至连开口说话都不行。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生目光从东伯雪的对视中移开，落向满脸焦急却又惊又骇，不知道发生什么事情的小溪脸蛋上。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        笑着问道：“小溪，你也想喝这茶么？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪被东伯雪的气势所慑，不能开口说话，只能够拼命的点头。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        就算是毒茶，她也要先喝。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “东泊姑娘，我家小溪跟我苦日子过惯了，可没有喝过这么珍贵的茶，茶杯里还有剩余的，给她也来一杯，可否？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生有礼貌的问道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        可这么问终归有些唐突，毕竟张华雀只拿出三个茶杯，说明小溪能够进这马车厢来坐，已经是给足唐生面子了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这么珍贵的辛木灵茶还要给小溪这样的小丫头喝？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        未免有些过了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “小神医，小溪姑娘身上半点修为都没有，可喝不得这辛木灵茶。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀善意的提醒道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        同时也是心疼辛木灵茶，可别暴殄天物了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        东伯雪却听明白了唐生这句话的意思，说道：“给小溪也来一杯。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        说着，气势上放开了小溪。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “是。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀只好照办。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        从储物戒指里拿出一个翡翠茶杯，再从茶壶里倒出一杯茶，端到小溪的面前。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “少爷。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪有些傻住了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        本想替唐生喝掉那杯茶的，可现在张华雀却给她倒了一杯茶。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这……
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        就算她再冰雪聪明，此刻也理不出个头绪。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这到底是怎么回事呀。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        只能看向唐生，可她却看见唐生淡然的脸上，突然泛起一抹温暖的笑容，使得那张英俊的脸蛋更加的迷人。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “小溪，这茶可不能急着喝。它之所以珍贵，那是里面蕴含着强大的辛木灵气。如果修为达不到人境，体内没有先天真气，强行喝下去，这灵茶就会变成毒茶的。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生解释道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “啊～少爷，你……你的修为也没有达到人境啊。那你喝下去……”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪一听，顿时明白过来了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        为什么唐生，没有急着喝了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        原来还真是毒茶啊。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “东伯小姐，张华雀大师，我家少爷……”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她就想向这两位大人物来求情。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        只是她的话没有说完，却被唐生给打断了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “小溪，你别急。别的修为达不到人境的人喝不得，可不代表你家少爷喝不得呀。再说了，这毕竟是一杯灵茶，如果能够炼化里面的灵气，对于身体可有很大的好处呢。这可是东泊姑娘的一番美意，你可不要胡言乱语了。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生笑道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪听得似懂非懂。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “唐公子，你也知道这茶虽然是灵茶，但若是处置不好，可会变成毒茶的。你还要让你的小丫鬟先喝？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        东伯雪带着几分冰冷的问道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        眉头微皱。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她误以为唐生刚刚不敢喝这杯茶是没有十足的把握解毒，如今让小溪也喝一杯，是先想让小溪先喝，好在小溪的身上尝试着解毒一番。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        所以，她对于唐生的好感，顿时全无了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “是呀。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生点点头。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        不过就是一杯小小的辛木灵茶，他前世乃是九品灵丹师，喝下去不是探囊取物般简单的事情？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        刚刚之所以没有立刻接过茶杯来喝茶，是想着怎么能为小溪也讨一杯来喝呢。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        毕竟小溪身上一点修为都没有，而这一杯辛木灵茶相当于一颗四五品回气丹的药气，正好可以帮小溪淬体，培养出内息真气来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        直接开口讨要灵茶，肯定不行。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他需要一个适合的理由。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        没想到小溪这鲁莽的要抢着灵茶喝的行为，正阴差阳错的让东伯雪误以为他要在小溪身上试毒。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生才不在乎东伯雪对他的看法和想法，他只在乎他关心的人。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        对于这小丫头误以为这灵茶是毒茶还抢着喝下去，唐生内心也一阵的感动。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        真是一个为了他可以不要命的傻丫头呀。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他看着小溪，柔声说道：“你现在的修为，就算淬体一层都勉强，体内也没有一丝内息真气，这杯灵茶喝下去，非常的凶险，你可要乖乖听我吩咐行动，不能够有一点的差错。知道了没有？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “嗯。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪点点头。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        那双乌黑的眸子里，此刻只有眼前的唐生。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她的目光明亮又坚定。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “先抿一小口，大约喝下十分之一的样子，可能身子会发热发痛，不过你要忍住痛，不要动，知道么？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “嗯。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪再次点点头。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “好了，可以喝下去了。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪闻言，端起她面前的翡翠茶杯，轻轻的抿了一小口，她也不确定是否到了唐生所说的十分之一。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        翡翠的茶杯有些温热。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        喝完，将茶杯放在茶座上。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        两匹蛟马的拉车很平稳，在车厢内一点颠簸的感觉都没有。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        深秋了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        天气凉中带着一丝丝的寒意。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        可马车厢内却很温暖。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这种温暖，恰当好处，刚刚舒服。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        呆在这马车厢内，绝对不会出汗的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        可是小溪抿下这一小口辛木灵茶后，只觉得喝下一口滚烫的开水，直接进入她的喉咙流入胃里。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        正常人境武者具备先天真气，所以他们喝这辛木灵茶时，是先用先天真气来包裹着辛木灵茶进入喉咙流入胃里，慢慢的通过先天真气来炼化的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        可是小溪没有修为，连内息真气都没有。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这一小口的辛木灵茶进入胃里，真正的痛苦才开始。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        只见这小口的辛木灵茶，顿时化作无数股无比滚烫的热流，朝着小溪的四肢百骸冲去。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪的肌肤很白很细。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        可霎时之间，就像是烤乳猪一样，全身通红起来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        大滴大滴的汗珠从她舒张的毛孔里溢出来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        见到这一幕，东伯雪和张华雀相互之间对视一眼，他们知道这是辛木灵茶太过强大又无法炼化，在小溪的体内炸开的缘故。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        同时，他们的目光又落在桌面上摆着的几盘水果上。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        其中有一盘青色的果子，拇指大小，叫做青沙果。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        青沙果内的果核打碎磨成粉，让小溪吞下去，就可以解了小溪体内的辛木灵气的痛苦。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        只是这种解法，乃是对消了辛木灵气转化的毒素，小溪非但无法吸收辛木灵气来淬体，还要受一段时间的折磨。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        所以，将这几盘果子摆放在这里，也是有他们用意的，如果唐生真的有几分本事，那就会立刻拿起青沙果来解毒，而不是去用其它的手段。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        因为这是最快捷有效的办法，越是早服用青沙果，辛木灵茶喝起来就越舒服。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “可惜……”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        东伯雪和张华雀见到唐生根本没有拿起青沙果来解毒的意思。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        看来此子是不知道青沙果的用途和功效了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        连这都不知道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他们对于唐生医术的高看，又下降了几分。
       </div> </td> 
     </tr> 
    </tbody>
   </table> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/14.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/16.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
$(window).scroll(function(){
	var scrollTop = $(this).scrollTop();   
	var scrollHeight = $(document).height();  
	var clientHeight = $(this).height();
	if(scrollTop + clientHeight >= scrollHeight && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}else if(scrollTop<=0 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}
});
</script> 
 </body>
</html>