<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第17章　内息真气 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第17章　内息真气 </strong></td> 
     </tr> 
     <tr> 
      <!-- 				<td align="right" valign="top"><strong>内容</strong></td> --> 
      <td id="content"> </td> 
     </tr> 
    </tbody>
   </table> 
   <textarea style="display: none;">唐生也没想到小溪能够坚持这么久。
这个傻丫头，竟然能够坚持到辛木灵茶即将转化为毒气的极限。
他原本的预想里，这丫头最多只是坚持几个呼吸就不行了。
诧异之时，唐生也闪电般的出手。
手里的银针随着他手腕的发力，如同活了过来，闪电般的扎在小溪的身上。
扎针，拔针，按穴，走气……
一连串施针手法，一气呵成，看起来有些眼花缭乱，可随着唐生的施针，小溪那如同烤乳猪般通红的肌肤，慢慢的黯淡下去。
“这……”
行家一出手，就知有没有。
张华雀看着唐生这行云流水般的施针手法，嘴巴长得大大的。
他是彻底的被折服了，自问自己就算是再学十年，未必能够做到如此程度。
每一针，每一穴，每一个手指的摆动节奏，每一按力度的轻重缓急，都看起来那么的恰当好处。
即便现在张华雀再傻，看到小溪那通红的肌肤黯淡下来，他已经知道，不管唐生能否利用这辛木灵气来为小溪淬体，至少这辛木灵茶的灵气是转化不成毒气的了。
他们还想着用青沙果的果核来解毒呢，现在和唐生的银针解毒比起来，一个借助外物，一个不用借助外物，两者之间，高下立判。
如果再有人怀疑唐生的医术，只怕他张华雀第一个跳出来跟他争辩！
东伯雪也很诧异。
难道她真的误会了唐生？
难道辛木灵茶在此子的手中真的可以用来帮人淬体？
她先前对于唐生的好感直线下降，那都是建立在唐生不将小溪的性命当一回事的基础上的。
原来别人真的是有大本事啊，只是她自己井底之蛙而已呀，还去威胁着别人已死了要以命抵命？
真是太可笑了。
想到此，东伯雪只觉得她那张习惯性高傲冰冷的俏脸，此刻火辣辣的，就像是被火烧了一样。
生不如死的痛苦煎熬里的小溪，只凭借着一股信念坚持着，意识模模糊糊里，只感觉到那几欲撑爆她小小身躯的滚烫热流，突然降温了下来，并且身体各处，涌现出一股股的清凉。
这一股股的清凉游转她的全身，浑身说不出的舒服，这一下子，让她有一种仿佛从地狱的折磨到天堂的极乐享受。
“嗯～”
这让她忍不住的呻吟起来。
真是太舒服了。
与此同时，她还感觉到，那降温的热流，朝着她身体那些清凉之气涌出来的部位融入进去，让她孱弱的肉身慢慢的壮大起来。
“好了。”
片刻之后，唐生收起银针来。
“少爷……”
小溪睁开眼睛，泛着血丝的眼眸里，全都是如释重负和欢喜。
此刻想着的可不是自己的生死，而是唐生能成功帮她解辛木灵茶的毒，这回可不用以命抵命了，也可以不用被东伯小姐和张华雀大师给看扁了。
“给东伯姑娘看看，看看你是不是肉身强大了一些。”
唐生微笑着说道。
小溪很乖巧，如同去看病般，将她的小手伸出来让东伯雪来诊断。
东伯雪在惊疑之中，伸出右手，如玉般的手指轻轻的搭在小溪的手腕上，一股天境真气输入小溪的体内，检查小溪的肉身状况。
果然，发现小溪的肉身各个穴位上，都有一股淡淡的辛木灵气融入进去，并且在一丝丝的滋润和改善着小溪的肉身。
这小溪的肉身，不仅一举完成了壮体，而且达到了产生内息真气的淬体第四重了！
淬体境分为十重，每三重又可以划分为一个小境界。
故而，淬体境一到三重，又称之壮体。
所谓的壮体，就是服用天地灵物，增强肉身，使得肉身产生灵气。
当肉身强大到一定程度，体内的灵气就会转化成为内息真气，这是淬体境四到六层的阶段，称之为内息。
内息真气积累到一定程度，要想更上一步，就要依次打通身体的十二道经脉，这是淬体七到九层的阶段，称之为通脉。
唐生的修为卡在淬体六层，并非他的天赋不行，而是他天生经脉堵塞，无法打通经脉，故而也就无法突破到淬体七重。
东伯雪虽然不精通医道，但以修行者的角度来讲，只要在这样的灵气滋润肉身下，小溪的身体用不了几天就可以聚拢大量的内息真气，一举将修为境界突破淬体四重、五重、六重，然后朝着淬体第七重迈进。
东伯雪的手从小溪的手腕上移开，她的美眸一瞬不眨的凝望向唐生，眸子里闪烁着异色。
辛木灵茶本身或许没有直接用来淬体的用途，可是眼前这位比她小几岁的少年，却强行用它来给小没有修为的溪淬体了，而且一口气将小溪的修为提升到了淬体四重。
这医术，只怕近乎于丹道了吧。
“如果此子的修为有幸能够超脱天境，只怕成为灵丹师并不是什么难事。”
天境之上，乃是超脱世俗的灵丹境！
要想成为灵丹师，需有一个前提，那就是修为需要达到灵丹境，那样才能调动天地灵气，运转阴阳，糅合五行，炼制出传说之中的灵丹妙药。
一念至此，东伯雪对于唐生的态度，也由开始的看得顺眼变得有些客气起来。
毕竟，在天元大陆上，无论哪个宗门，对于灵丹师都是花大代价去拉拢的。
唐生如今虽然还不是灵丹师，但以后有成为灵丹师的可能，而且这种可能还十分的大。
所以，在唐生还未成长起来时，东伯雪就想着先一步去结交。
“唐公子果然医术无双，刚刚是我鲁莽，见识浅薄，特地在此向公子道歉。”
东伯雪行礼说道。
丝毫不做作。
旁边的张华雀脸色微变。
深知东伯雪的真正身份，这样的天之骄子，就算唐生乃是天级巅峰的九品药师，只怕也不值她得如此行礼吧。
除非……此子有成为灵丹师的可能！
想到这，再想到唐生这折服他的医术，张华雀突然明白东伯雪向唐生行礼道歉的含义所在了。
“哈，不知者不怪。毕竟东伯姑娘也是见我年纪轻轻，又从未听说过辛木灵茶可以用来给人壮体，生怕我是为了面子而拿小溪的性命来试毒。当然了，我还要感谢东伯姑娘，若非你赐予小溪这杯辛木灵茶，我也无法帮小溪壮体。小溪，你还傻愣着干什么？还不谢谢东伯姑娘么？”
唐生这番话说得进退有度，得体又顾全大局的面子，将先前的不快全然带过。
就连张华雀听之，也心里舒坦，脸色带着笑容。
不过，他内心对于唐生更是佩服起来：此子年纪轻轻，医术无双，最主要是谈吐有度，不骄不躁，有大家风范，也不知道是哪个大世家培养出来的子弟！难道是这里的唐家？
也不对呀！
他穿着普通，身上没有什么值钱的配饰，手上连储物戒指都没有。
以他如此年纪轻轻就有如此的医术，唐世家非得将他当做宝来捧着。
一时之间，非但张华雀对于唐生的身份猜疑和好奇，就连东伯雪也同样如此。
“唐公子，你姓唐，莫非是这里的唐世家子弟？”
东伯雪试探着问道。
“惭愧惭愧，只有得到唐世家认可的子弟，才能够在外称自己是唐世家子弟，我还得不到认可，还不能说是！”
唐生有些自嘲的说道。
也不知道是嘲笑自己，还是嘲笑那唐世家。
话刚说完，旁边的小溪生怕东伯雪和张华雀会因此看轻唐生，她立刻大声辩解说道：“少爷现在这么厉害了，会这么高明的医术，只要唐世家的长老知道，一定会认可公子是唐世家子弟身份的！”
这小丫头声音娇脆，可语气却斩钉截铁。
不过，在她的认知里，能够成为唐世家真正的子弟，还是一件无上光荣的事情。</textarea> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/16.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/18.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
var cont = $('textarea').val();
// 非html文本进行换行美化
if($('textarea').val().indexOf('<div')==-1 && $('textarea').val().indexOf('<p')==-1 && $('textarea').val().indexOf('<br')==-1 && $('textarea').val().indexOf('<img')==-1){
	cont = '';
	var arr = $('textarea').val().split('\n');
	$.each(arr, function(i, n){
		cont += '<div style="line-height:1.7;text-indent: 2em;">'+n+'</div>';
	});
}
$('#content').html(cont);
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
</script> 
 </body>
</html>