<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第2章　“镇龙”传承 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第2章　“镇龙”传承 </strong></td> 
     </tr> 
     <tr> 
      <!-- 				<td align="right" valign="top"><strong>内容</strong></td> --> 
      <td id="content"> </td> 
     </tr> 
    </tbody>
   </table> 
   <textarea style="display: none;">前世，唐生和他师姐慕清霜，游历诸多大世界、小世界，就是想要寻找一块龙血玉。
因为他和师姐慕清霜，看似是散修，其实他们的身上，肩负着一股古老又神秘的传承延续。
这股传承，叫做“镇龙”传承！
要继承这“镇龙”传承，寻找到传说中的龙血玉，乃是极其关键的一步。
前世，踏遍万水千山都没有能够找得到。
今生，竟然如此轻易就找到了？
唐生仿若是在做梦！
他的眼睛，湿润了。
“炎剑宗，你等着吧！你们虽然是一方大世界里的超级宗门，但是欺世盗名，欺压良善，杀人夺宝！我师姐就是不愿接受你们的调戏，你们就给我们扣下邪魔的名头，追杀我们，最后逼得我和师姐走投无路，不得不跳入涅槃山自杀！”
“前世，我和师姐是散修，我和师姐是没有能力反抗你们！可这一世，我有了！我有龙血玉，我能够修炼镇龙传承里的绝世功法！”
不管是十年，一百年，还是一千年！
唐生心里发誓，终有一日，他会杀上炎剑宗，踏平他们的山门，将那些欺世盗名的虚伪之辈，统统斩杀！
……
那一边的唐宏，看到唐生泛着泪光，还以为唐生是被这三万两银子的债务给吓哭了。
他的气势越发的嚣张！
“父债子还，你还有什么话要说？”
唐生还沉浸在他的情绪里。
旁边的小溪见唐生眸子带泪，她也以为以唐生是吓怕了。
她很着急。
“这个玉镯是我的，当初也是我让老爷拿去卖的，它既然是假的，那这件事情就是我的错，这三万两，要欠，也是我来欠下！唐宏少爷，求求你，放过我家少爷吧。我……我给你磕头，我给你做牛做马。呜呜～”
小溪又站了出来，绝望的哀求。
她想要将所有的过错都揽在自己的身上。
唐宏一听，没空再理吓傻的唐生。
他眼眸亮起来，内心越发的得意。
他还没有提出卖身的要求，这小丫头就主动要求卖身还债了么？
这正合他意！
等逼迫完这丫头欠下卖身契，他还要出尔反尔，出手将唐生给打残。
他恶人做尽。
紧接着，就是龙少威武的出场了。
他的目光，悄悄的朝着左前方武教楼的某间窗户看去。
……
在那个窗户里，正站着两个人。
其中一位，乃是唐宏的父亲唐木苟，这第三武院学府的副院长。
在普通人眼里，他可是一个大人物了。
可此刻，他却恭敬如同仆人的站在一边。
这里是唐家城。
一城即是一国。
他虽然是第三武院学府的副院长，在普通人眼里是个大人物，但是若是放到唐世家的宗家里，他只是一个普通长老，连宗家的族谱都没有资格写上名字的。
而这龙少呢？
他不仅来自宗家，而且在宗家里还有天大的来头。
可以说，若是能够讨好这龙少，哪怕龙少赏给他一根腿毛，他唐木苟立刻飞黄腾达起来。
“这个丫头，倒是重情重义。”
一身玉丝白衣，将这位十七八岁的少年装扮得越发的高贵。
只是，他身上的气息，有一丝的阴冷。
他的嘴角，泛起一抹笑容。
“我还没有玩过重情重义的女人！这个丫头，慢慢调教起来，应该很有趣，可以够我玩弄一段时间吧。”
他的舌头轻轻的舔了舔嘴唇，就像是一条毒蛇在吐着信子。
站在他身边的唐木苟，不知怎么的，他浑身打了一个寒颤，刹那之间，有一种跟着一条阴冷毒蛇待在一块的感觉。
很快，就该他出场了。
“我们走吧。”
他心想着，等他慢慢走下楼，走到唐生那边时，这唐宏应该逼迫唐小溪欠下卖身契，然后将唐生打成重伤了吧。
“是。”
唐木苟点头，等龙少转身后，他才关闭了这个窗户。
……
窗户关闭，那是一个信号。
说明龙少即将登场了。
唐宏看到这一幕，心里凛然，知道重头戏要来了，他要好好的演才行。
龙少巴结好了，前途不可限量。
可是这若是巴结不好了，将他吩咐的事情搞砸了。
唐宏想到这，心里一阵的寒意，只怕龙少只需一句话，他和他父亲第二天就能够无声无息的从唐家城里消失。
“你真的要给我做牛做马？”
唐宏顺着唐小溪哀求的话语问下去。
“是是是，我可以给你做牛做马，只求你放了我家少爷。”
唐小溪赶紧说道。
在她看来，卖了她都不值三万两呢。
如果她的死能够换回唐生一条性命，那么她毫不犹豫的可以去死。
所以，更别说现在的只是做牛做马？
“口说无凭！这欠下的可是三万两呢！”
唐宏冷冷的说道。
他瞥了眼旁边的唐生，心里闪过一丝杀意：这废物也不知道哪里来的好运？居然身边有一个如此有情有义，肯为其心甘情愿去死的丫鬟，而且还是一个绝世美人胚子的丫鬟。要是他唐宏身边也有一个，就好了。
可惜了，这个小丫鬟，以后是龙少要玩弄的人。
龙少玩女人，喜新厌旧。
不知道当龙少玩腻了，他唐宏有没有那个幸运，可以赏给他玩弄玩弄？
他心里幻想起来。
“我……我愿意给你签下卖身契！”
小溪可不知道此刻唐宏心里的那些龌蹉想法，她一门心思，只是扑在最后救唐生的一丝希望里。
“好，那你签下卖身契吧！签下去后，唐生欠下我家的三万两银子，在此一笔勾销！”
唐宏大声的说着，他从怀里拿出了早就准备好的卖身契和笔，递给小溪。
小溪刚想接过这卖身契和笔，可一只手已经从她的背后伸出，先一步的接过来，然后看也不看，直接将这卖身契给撕成粉碎。
小溪大惊失色。
这卖身契可是她少爷的救命符，谁给撕了？
她转过身去，愣住了。
因为撕碎这卖身契的，正是她少爷唐生。
“少爷……”
“乖乖站在一边，剩下的事情，交给少爷我解决就行了。”
唐生也懒得解释了。
他觉醒前世记忆的事情，没有办法说出口，也解释不了给这丫头听。
所以，他只能够用行动来解释了。
……
唐宏也傻眼了。
他无法想象，刚刚还吓得浑身发抖的唐生，究竟有何胆量来撕碎他递过去的卖身契。
气死他了！
简直气死他了！
这唐生吃了狗胆了么？
要知道，重新再写一份卖身契，那是需要时间的啊。
而现在，他父亲正陪着龙少从武教楼走下来，很快就要登场。
这卖身契没有签下，这计划就不完美。
若是龙少责怪下来，这后果……
想到此，唐宏浑身打了一个寒颤。
“你们两，现在赶紧再写一份卖身契！我去打死唐生这个垃圾废物！”
唐宏急声吩咐身边的两个小弟。
这两个小弟也回过神来，赶紧抢过围观的低年级的同学的书包，在里面慌忙的翻找着纸和笔。
他们也知道一些内幕，这唐宏老大这么做，可是为了巴结龙少老大的。
“唐生，你这个该死的垃圾废物！欠我家这么多钱不还，还敢撕碎我写的卖身契？你这条死狗！今天，我唐宏在这里就打死你了，也是合法合理！给我去死！”
唐宏怒声叱喝！
他的双眸全都是狠意！
他根本不给唐生任何再解释的机会。
他直接出手！
目标很明确，就是要打残打死唐生！
“死！”
他这一出手，就施展出高级攻击武技裂虎碎石掌。
高级武技虽然武院学府里有传授，但是能够学会的同学，缪缪无几。
第三武院学府里能够将裂虎碎石掌施展得像他这般举重若轻的，一个都没有。
这裂虎碎石掌一出。
周围围观的同学，脸色都一变。
惊骇于唐宏竟然能够施展得如此的完美，简直比学院里的很多老师施展得还要标准，还要有气势。
同时，他们也期待着。
这唐生被这唐宏的裂虎碎石掌打中，是全身骨头碎裂变成重伤，还是直接的被打死呢？
有些胆子小的女生，已经不敢看即将发生的鲜血淋漓的场面了。
“当真是废物一个！”
眼看自己的裂虎碎石掌已经拍到唐生的胸口，而唐生还好无反应，唐宏内心里更加的蔑视。
不过，他还是收了三分的力气。
现在还不是打死唐生的时候，还要这废物留一口气，方便龙少的后续出场。
虽然计划有变波折，但是总体的大方向还是没有变的。
“少爷，别要打我少爷……”
小溪见状，悲声大叫！
她的反应甚至比傻愣在原地的唐生，还要快一些。
可是，她没有什么修为，哪里还得及？
就算她想拦在唐生的身前，想为唐生当下这一掌，也已经来不及了。
可是，接下来发生的这一幕，所有人都傻眼了。
眼看唐宏的裂虎碎石掌就要拍中唐生的胸口时，眼看唐生就要惨绝于当场时。
就见到这飞扑而下的唐宏，身体如同断线的风筝般，重重的摔在七八米外。
轰！
地面上，掀起一阵的灰尘。
场面。
死寂一片。
所有人，都有些反应不过来。
他们看着倒在地上挣扎了几下还没有能够爬起来的唐宏，在看到那边，淡定站在原地，慢慢收回刚刚踢出去的腿的唐生。
这……
看花眼了么？
倒下的，不应该是唐生这个天生经脉堵塞的废物么？
怎么变成唐宏这个第三武院学府第一天才了？</textarea> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/1.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/3.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
var cont = $('textarea').val();
// 非html文本进行换行美化
if($('textarea').val().indexOf('<div')==-1 && $('textarea').val().indexOf('<p')==-1 && $('textarea').val().indexOf('<br')==-1 && $('textarea').val().indexOf('<img')==-1){
	cont = '';
	var arr = $('textarea').val().split('\n');
	$.each(arr, function(i, n){
		cont += '<div style="line-height:1.7;text-indent: 2em;">'+n+'</div>';
	});
}
$('#content').html(cont);
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
</script> 
 </body>
</html>