<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第20章　世家商会 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第20章　世家商会 </strong></td> 
     </tr> 
     <tr> 
      <td id="content"> 
       <div style="line-height:1.7;text-indent: 2em;">
        正如同唐生所感觉的那样，这会长石庚庆和副会长张华雀之间，确实有些不对头。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        见到石庚庆想盘问唐生的情报，张华雀上前半步，巧妙的挡在石庚庆和唐生中间。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        说道：“石会长，唐公子乃是小姐请来的小神医，在路上她已经吩咐了老夫如何招待好小神医了。所以，招待唐公子的事情，就由老夫来办理就行了。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “既然唐公子乃是贵客，张老您可不要怠慢了贵客了。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        石庚庆这话说得客气，可语气不免有些阴阳怪气。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “那当然！唐公子，我们走吧。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀说完，转身微笑的对唐生做了一个请的手势，却将面带笑容的石庚庆晾在了一边。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        看着张华雀和唐生的背影，石庚庆脸上的笑容僵硬得很难看。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        路上。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        也有好几位天玄商会的高层赶来迎接张华雀，同时张华雀也向唐生介绍了这些高层。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “唐公子，天玄商会是东伯世家和西伯世家共同的产业。你是小姐的贵客，自然也是东伯世家的贵客。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀说得很委婉。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        天玄商会虽然是东伯世家和西伯世家的共同产业，但那是最高层的合作决策。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        而蛋糕做大后，两边家族怎么分蛋糕，这些还是有着利益相争的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        有人的地方就有利益、就有恩怨、就有江湖。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        再说了，石庚庆和张华雀都不姓东伯和西伯，他们这些外行人仰仗着东伯家族和西伯家族吃饭，更是要在旁枝末节上，各为其主了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “我明白。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生点点头。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        ……
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀给唐生安排了一间专属的房间，内外两层。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        外层是诊室招待厅，按照药堂的布局，摆满了药架，药架上都是些常用到的药材。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        内层则是作为生活区。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生和小溪平时可以住在这里，布置得很豪华。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀将规矩细细的跟唐生说了一遍，并给唐生安排了几个药童以供驱使。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        以此同时，张华雀将一个早就准备好的储物戒指，递给唐生。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他说道：“按照规矩，商会聘请的上阁药师，都有一份聘礼。不过，唐公子乃是小姐聘请的，所以，这份聘礼也是小姐给的。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀很会做人。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        东伯雪这样高贵身份的人，怎么会懂得下面的什么商会规矩？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这份聘礼明明是他超出一般的规格来给的，可是这个人情，要全都要说在东伯雪的头上。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这叫做本分。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “多谢东伯姑娘的厚意，在下定然会在这里全力施展医道所学，不给东伯姑娘、不给天玄商会丢颜面。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生客气的回礼。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        接过储物戒指后，并没有立刻的炼化。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “不知唐公子还有什么吩咐？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀笑问道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “张老，我既然受了聘礼，以后就是你药堂下的一员。我明天即可开阁给病人就诊。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “哈哈哈哈！唐公子你这样急着开药阁，那我还求之不得。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀再跟唐生闲聊几句，然后就告辞了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        ……
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        在天玄商会的强大情报系统的运转下，一个多时辰后，各有一份关于唐生的信息，先后摆放在了张华雀和石庚庆的案台上。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀浏览了这份信息，并没有太多的惊讶，因为信息里的记载，跟唐生在马车里所描素的差不多。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        反倒是石庚庆，更加的疑惑起来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “这唐生，仅是唐家城的普通唐姓子弟，天生经脉堵塞，他父亲唐硝石三年前进入尸魔山脉失踪。这人就是一个普通得有些废物的人，怎么能够得到东伯雪小姐以贵客身份相待？如今还在张华雀那老儿的药阁里，坐上了上阁药师的位置！从情报上来看，这唐生根本就不懂得医术啊。这是情报收集有误，还是这其中，还有我不懂得的隐情？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        石庚庆蹙眉沉思。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        一边让人再去收集关于唐生的更进一步的情报，一边想着或许他可以利用药阁里的矛盾，试探一下唐生的深浅。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        毕竟，这唐生乃是东伯雪领来的，那就是东伯家派系的人了，这根他西伯家派系，乃是有利益之争的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        ……
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        天玄商会的药阁。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        分为下阁和上阁。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        下阁药师，分为甲、乙、丙三等。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        不同的等级，在天玄商会里，所享受的待遇自然也不同。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        在唐家城的天玄商会。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        虽然上阁药师有六个席位，但是，这十几年来，能够坐上这上阁药师位置的，只有一人。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        那就是副会长兼首席五品药师张华雀。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        其他人都没有这个资格坐上这上阁药师的席位。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        现在，多出了个唐生。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这个不知道从哪个石头缝隙里蹦出来的，十七八岁的乳臭未干的小子，居然还坐上了这十几年来都没有第二个人能够坐上去的上阁药师的席位了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        消息传开后。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        在下阁的甲、乙、丙三等药师房里，炸开了锅。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        特别是甲等药师。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        其中有几位老资格的，三番两次想要申请成为上阁药师，都被以各种理由驳了回来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        此刻，他们的心里哪里服气？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        哼！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        若是不露出几分真本事来让他们服气，看他们怎么整死你！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        在药阁这种地方，想要整人的方式，多得是了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        ……
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生还不知道，在天玄商会里，这上阁药师，除了张华雀外，他就是这十几年来的第二位。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        也不知道，他坐上了这上阁药师的位置，瞬间将下面的药师都给得罪了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        先认主了张华雀给的储物戒指。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        里面有十万两金票，一块上阁药师的令牌，几套得体的衣服。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他对这些都不感兴趣。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        随后，他翻看了书架上的药库目录，查看一下天玄商会的药材情况。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        要修炼镇龙传承，需要不少灵药来辅助。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        翻看完药库目录后，唐生顿时大失所望。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        寻常的灵药，对于一般的宗门来说，并不是什么稀罕之物。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        可是对于世俗实力来说，那株株都是宝贝了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生储物戒指里的十万两金票，只能够购买最便宜的几株灵药。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “怎么办呢？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生犯难起来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        ……
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这一天，唐生过得还算踏实。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        总算是安定下来了，也依靠上天玄商会这个势力。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        至少唐木苟、唐宏这些宵小之徒再敢来招惹他，他绝对能够轻易的将他们给收拾掉了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唯一失望的，就是修炼镇龙传承的辅助灵药，在天玄商会里肯定是无法收集的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        不过，唐生也没有沮丧。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        事情总该一步步来的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        至少他如今有了个安身立命的地方了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        先修整一段时间，再徐徐图之吧。
       </div> </td> 
     </tr> 
    </tbody>
   </table> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/19.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/21.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
$(window).scroll(function(){
	var scrollTop = $(this).scrollTop();   
	var scrollHeight = $(document).height();  
	var clientHeight = $(this).height();
	if(scrollTop + clientHeight >= scrollHeight && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}else if(scrollTop<=0 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}
});
</script> 
 </body>
</html>