<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第21章　恐怖天赋 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第21章　恐怖天赋 </strong></td> 
     </tr> 
     <tr> 
      <td id="content"> 
       <div style="line-height:1.7;text-indent: 2em;">
        第二天，清晨。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生再见到小溪时，大吃一惊。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        发现小溪不仅已经将体内喝下的那一杯辛木灵茶的灵气给彻底炼化，而且修为一口气的突破到了淬体十重。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        赶紧检查一遍小溪的身体情况，他骇然的发现小溪的十二经脉是天生通畅的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “难道……小溪乃是特殊的体质？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生愣住了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        传闻，这世间有一些特殊的体质，得到天地的眷顾，会蕴含着某种天赋和威能。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪的天生十二经脉畅通，也可以看做是特殊体质的一种吧。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “或许，我修炼镇龙传承的机缘，就在这丫头的身上！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生的眼眸，亮了起来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他如今无法修炼，可是这丫头可以啊！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他暂时无法加入大宗门，可这丫头可以啊。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她天生经脉畅通，又是特殊体质，只要被他稍加的调教，修为立刻突飞猛进。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        在同辈里脱引而出，并非什么难事。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        到时候，小溪加入了大宗门，为他收集镇龙传承的辅助药材，倒是一件非常简单的事情了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “少爷，你……你怎么这么看我？我脸上脏了么？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪不太确定的摸了摸自己白白的小脸蛋。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “少爷决定了，从今天开始，也要教你修行，教你丹道医术，你可要好好学，知道了吗？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “好呀！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪很兴奋，在她看来，只要能够跟唐生在一起，她怎么都行。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        ……
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪在丹道方面的悟性，超乎唐生的想象。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        一点就通，还能举一反三。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        再加上这小丫头的记忆力也惊人，几乎达到过目不忘。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生在书架上找的几本基础医书上的知识，别人要几个月乃至更久的时间来理解，来死记硬背，她一个上午就差不多全部掌握了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        当然了，这也有唐生的功劳。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生这位九品灵丹师，讲解这些基本知识时，深入浅出，已经不局限于书本，同时还扩展延伸，形成一个讲解的系统。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        作为上阁药师，通常情况下都很闲的，就算有病人来，那也都是要提前预约的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        所以，唐生这几天都没有什么人来找他看病。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他的时间，都用在教导小溪上。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        学以致用。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        花了几天给小溪讲解完一些入门的医术知识，就带着小溪到下阁药堂大厅里，去找些病人来给小溪练练手。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        为了不引发骚乱，唐生和小溪都伪装成为药童。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        下阁的丙级区域，病人都是些伤风感冒、伤筋动骨等小伤治病。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        开始，小溪还不敢给人看病。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        可在唐生的鼓励之下，小溪很快就治疗好一个肚子痛的病人。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        有了个好开头，她树立起了信心，在连续治疗好七八个病人后，很快这里的病人就对她来说，没有什么挑战和难度。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生就带着小溪前往乙级区域。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这里的病人，大都是内伤、练功岔气、真气中毒等病。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生边给小溪传授穴位医理、金针渡穴、调理人体之气之法，边让小溪在这些病人的身上来实践，他在旁边把关，如果出现问题就及时的指正。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪还是那样，一点就通，一学就会。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “少爷，原来成为药师也不是一件很难的事情啊。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪连续治好了乙区的几个病人后，信心更足了，大眼睛里全都是兴奋。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “那是你天赋好，灵觉强大！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生感慨道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        当真是人比人，气死人啊！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        灵觉，决定着一位药师能否成为灵丹师，决定着一位灵丹师能够走多远。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        寻常的药师，哪怕是张华雀，他们的灵觉只有一丝，根本感受不到人体穴位之气，他们只能够靠书本上的死记硬背知识和多年的行医经验来治病。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        而小溪呢？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她的灵觉简直强大得有些妖孽变态。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        居然可以直接清晰的分辨出人体穴位之气的阴阳五行、天干地支的属性。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        要知道，这一点就连很多灵丹师都做不到这一点。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        要知道，唐生前世作为九品灵丹师，也是经过了秘法修炼，才能够将灵觉提升到这层次的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        ……
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        甲区，很安静，装潢也很贵气。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这里是专门迎接唐家城强者和富人的地方，普通人根本就请不起这里的甲等药师来给他们看病。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        所以，这里的人很少。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        在这里的药童，大都是甲等药师的学生，有些本身就有一二品药师的水平，只是为了更进一步，才留再这里跟随侍奉的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        当有病人来时，那些病人也不介意这里的药童先给他们诊断。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “少爷，那个漂亮姐姐的病情，脉象紊乱，气息有些浮躁。可我认真查找，却没有发现她到底是哪里出了问题，又似乎哪里都出了问题，这到底是怎么回事呀。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪小声的询问。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她和唐生刚刚才给对面的那个身材高挑、英姿飒爽的漂亮姐姐先行诊断完毕。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他们不敢在这里直接给病人扎针看病，毕竟这样做太显然，而且天玄商会的药堂可不是慈善堂。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        开门营业，可是要赚钱的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        总不能病人都给他们免费治好了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “她是中毒了。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生小声的说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “中毒了？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪满是不解。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        根本就没有发现这位漂亮姐姐有任何中毒的迹象呀。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “　她体内的先天真气属于火之丁寅属性，有人给她下了一种很诡异的火之丁寅之毒。你可发现她神门穴、劳宫穴、玉堂穴内的气息，有所不同么？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生循循善诱的引导。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “我……我刚刚没有认真检查感受这三个穴位的气息。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪低着头，像是个未完成作业的孩子。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “那等她出来，我们在检查一遍就是了。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生摸摸这小丫头的小脑袋，示意她振作精神来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他们两人鬼鬼祟祟的守在诊室的门口，他们不是那位甲等药师的药童，故而没有权利进入里面观诊的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        一刻钟左右。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        那个漂亮姐姐，从诊室里走了出来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “姐姐，我……我能再帮你号号脉么？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        小溪在唐生怂恿下，壮着胆子上前，声音细如蚊蝇，还带着颤声。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “当然可以。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        林如火最近运气很好，心情也不错。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        见小溪生得冰肌玉骨，美人胚子，也心生好感，不忍拒绝。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她大大方方的伸出手来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生的目光，则瞥向林如火手中的那张刚开的药方上，看清了上面的几味药材，眸子异芒闪烁而过。
       </div> </td> 
     </tr> 
    </tbody>
   </table> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/20.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/22.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
$(window).scroll(function(){
	var scrollTop = $(this).scrollTop();   
	var scrollHeight = $(document).height();  
	var clientHeight = $(this).height();
	if(scrollTop + clientHeight >= scrollHeight && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}else if(scrollTop<=0 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}
});
</script> 
 </body>
</html>