<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第22章　来找茬的 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第22章　来找茬的 </strong></td> 
     </tr> 
     <tr> 
      <!-- 				<td align="right" valign="top"><strong>内容</strong></td> --> 
      <td id="content"> </td> 
     </tr> 
    </tbody>
   </table> 
   <textarea style="display: none;">唐生所提点的神门穴、劳宫穴、玉堂穴，就像是三条线索，小溪根据这三条线索查探林如火的人体之气，脑子里对林如火的病情，渐渐的清晰起来。
“小姑娘，诊断好了么？”
林如火轻声的问道。
“诊断好了。”
小溪点点头。
“那我身上到底是什么病？”
林如火问道。
也是见小溪美得让人怜惜，这才打趣的询问的。
在她看来，一个小小的药童能知道些什么？
她练功岔气的病情，里面的猿荣大师看了大半个月都没有看好呢。
要知道猿林荣大师，可是唐家城里，仅次于张华雀大师的存在了，据说已经有上阁药师的水准了。
“这……”
小溪并不傻，这位漂亮姐姐是一个大强者，她不敢轻易开口回答，万一说错了怎么办？
偷偷看向旁边的唐生，等着唐生的准许。
“这小药童是你的什么人？你为什么这么听他的话？”
林如火好奇的问道。
在她看来，唐生长得俊俏是俊俏，但是十七八岁了，修为只有淬体六重，未免太过废物了。
男人光长得好看有什么用？要实力强大才行！
反观小溪呢？
十五六岁就淬体十重，已经算是天才了。
偏偏又长得倾城绝世，再大几年，绝对有颠倒众生的魅力。
这样的女人，那是枝头的凤凰，将来注定有很多绝世天才、强者来追求的，可不是唐生这种光有俊俏外表的少年配得上的。
“他是我少爷，他在教我医术。”
小溪如实回答，言语之中，带着一种深深的自豪和崇拜。
“你是他的丫鬟？这么说，他的医术可比你厉害了？”　
林如火有些诧异。
转头看向唐生。
不知怎么的，她有些看唐生不顺眼起来。
或许是她不想小溪这样的凤凰糟蹋在唐生这样的废物手里的缘故吧。
毕竟，美丽的东西，大家都想要守护的。
像唐生这样只有皮囊的废物，哪里能够拥有小溪这样的绝色丫鬟？而小溪这样的绝色佳人，也不应该去做一个废物的丫鬟，那是暴殄天物！
“当然。”
小溪自豪的说道。
“那好，小家伙，你先前也为我诊断过了。你就来说说我的病情吧。”
林如火说到这里时，一丝气势锁定住面前的唐生。
以为唐生会在她的气势里惶恐慌张。
有些出乎她的意外。
面前的这位俊俏的少年，依旧那副淡定的样子。
“你是猿荣大师的病人，我只是一个小小的药童，哪里敢妄自议论你的病情？”
唐生婉拒。
不想惹麻烦。
“无妨，你大胆的说。若是你所说的和猿荣大师所说的，契合一二，那么我储物戒指里的灵药，你可以随意挑选一株。”
林如火说道。
她的储物戒指很大，分了很多区域。
她可以将特定区域展示给唐生看。
说着，伸出手轻轻的将她储物戒指抵在唐生的掌心，示意唐生可以查探她储物戒指里的灵药。
唐生本来不想搭理这林如火的。
因为他已经看得出这位林如火对他的不友好姿态。
别看这位女人长得漂亮，却是一位天境后期的强者，身上的气息带着一丝杀伐的煞气，可是一位杀过人的主，只怕在唐家城也是一个有头有脸的大人物。
可当唐生的意念，辐探进林如火储物戒指里时，他目光一凛，注意到了其中一样东西！
一样让他非常感兴趣的东西！
“极品的纯阴阳煞玉？居然还这么大块？”
唐生表面平静，可内心却激动起来。
这么极品的纯阳阴煞玉，居然被林如火随意的跟其它矿石混在一起，她定然不识货！
“你的话，可当真？”
唐生不动声色的问道。
林如火见唐生果然贪财，眸子里更是闪过一丝轻蔑之色。
更加确认唐生这样的废物，是配不上小溪这样的国色天香的。
“我林如火乃是红霜兵团的团长，说话当然算数！”
她大声的说道。
“那好！我想要你储物戒指里那块黑色的玉石。”
唐生顺势说出他的意图。
“你要这块黑色玉石？”
林如火有些诧异。
因为她自己也还没有搞清楚这块黑色玉石的作用。
“是的。”
唐生点点头。
他本不想参与进林如火的麻烦里的。
因为他看得出，林如火的中毒乃是人为的，这其中定然有恩怨。
只是，他太想得到这块极品的纯阳阴煞玉了！
纯阳的阴煞，乃是天材地宝之一，而且还是极品的天材地宝！
炼丹、炼宝以及修行一些特殊的秘术，都需要用到纯阳的阴煞。
唐生就有一门《九阳阴元淬体术》的极品横练外功，乃是要以纯阳阴煞为引的。
若是炼制大成，单靠肉身强度就可以跟最顶尖的天境强者抗衡！
“我如今经脉堵塞，不能够修炼内息真气法诀，而辅助镇龙传承修行的各种灵材还不知道何时才能够筹够呢！若是能够练成这《九阳阴元淬体术》，倒是可以多一分保命的机会。”
唐生心里暗自的想着。
“这块黑玉，到底是什么东西？”
林如火问道。
“黑玉里蕴含着一种煞气，可以入药！它对我有用。你将它给我，我帮你将身上的病治好。”
唐生说道。
这纯阳阴煞虽然是宝物，但是用来换林如火一条命，他觉得还是值得的。
毕竟，人死了，什么都没有了。
“你口气倒是不小！还说帮我治好身上的病？”
林如火嘲笑起来。
连猿荣大师治疗了大半个月都还没好呢。
“你反悔了？”
唐生倒是有些紧张起来。
生怕这林如火不答应。
这样一来，他修炼《九阳阴元淬体术》的事情，就泡汤了。
“好，我答应你了。”
林如火说道。
“你跟我来吧，我给你治疗。”
唐生想要带林如火去他的上阁诊室的。
毕竟这里人多嘴杂。
这林如火不认得那纯阳阴煞玉，不代表着其他人不认得。
而且林如火身上所中毒的，应该和那猿荣大师有几分关系。
所以，唐生更不想在猿荣大师的诊所面前呆了。
“等等！”
唐生急，可林如火却一点都不急。
“你又怎么了？”
唐生问道。
这女人还真是事多呀。
“你赢了，可以拿走我的那块黑玉。如果你输了呢？”
林如火问道。
“我输了？”
唐生从来没想过自己会输。
就林如火身上的这点小毒，还难得倒他堂堂的九品灵丹师了？
“你想怎么样？”
唐生明白过来了。
天下没有免费的午餐。
这林如火可不会平白无故的让他挑选其储物戒指里的宝物。
这女人，这是来找他的茬的。</textarea> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/21.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/23.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
var cont = $('textarea').val();
// 非html文本进行换行美化
if($('textarea').val().indexOf('<div')==-1 && $('textarea').val().indexOf('<p')==-1 && $('textarea').val().indexOf('<br')==-1 && $('textarea').val().indexOf('<img')==-1){
	cont = '';
	var arr = $('textarea').val().split('\n');
	$.each(arr, function(i, n){
		cont += '<div style="line-height:1.7;text-indent: 2em;">'+n+'</div>';
	});
}
$('#content').html(cont);
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
</script> 
 </body>
</html>