<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第23章　不识泰山 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第23章　不识泰山 </strong></td> 
     </tr> 
     <tr> 
      <!-- 				<td align="right" valign="top"><strong>内容</strong></td> --> 
      <td id="content"> </td> 
     </tr> 
    </tbody>
   </table> 
   <textarea style="display: none;">林如火看着唐生，目光带着一丝轻蔑，她问道：“这丫头乃是你的丫鬟？”
“她是我妹妹。”
唐生纠正说道。
“还妹妹？看来你甜言蜜语骗女孩子的手段，还真有一套啊！”
林如火听到“妹妹”二字，更是对唐生厌恶起来。
认为唐生这是在收买唐小溪的心。
“你到底想如何？”
唐生眉头微皱。
“我也不废话！你配不上这小丫头！我也看你不顺眼！若是你输了，那么这个小丫头跟我走！”
林如火直接了当的说道。
“这位姐姐，我家少爷可不是……”
小溪哪里肯容别人看轻唐生？
她想要替唐生辩解，不过却被唐生止住了。
“小溪，别说了。他人怎么看我们，那是他们的事情。”
他又对着林如火说道：“好，我答应你了。”
他不想废话太多。
“哼！果真是一个无情无义之人。”
林如火见唐生答应得如此的干脆，更加认为唐生的人品不行。
这人若真是待这小丫头好，根本就不会那这小丫头当赌注的。
然而。
人家唐生压根就没想过自己会输。
“我们走吧。”
唐生懒得去争辩。
“去哪里？”
林如火问道。
“到了，你就知道了。”
唐生不欲多说。
“可我就想在这里让你替我诊断！”
林如火偏偏不如唐生的愿。
反正，看到唐生这副淡然的姿态，她心里就更是不爽。
“这里可是猿荣大师的诊室门口，你刚刚才在里面治病出来。我若是在这里替你治病，只怕对他的影响不好。你还是去我的诊室吧！”
唐生说道。
“你在这里还有诊室？你是这里的药师？”
林如火听到这话，有些诧异。
这废物少年，居然是天玄商会的药师？
可他怎么穿着药童的衣服？
“是的。我们可以走了么？”
唐生有些不耐烦了。
“你是这里的药师正好！我们的赌约，就请猿荣大师出来做个见证吧！”
林如火说道。
在她看来，唐生就算是这里的药师，那也不过是个丙等的一品小药师吧。
唐生不想在这里诊断，那么她就偏要在这里诊断！
她就是要刁难唐生！
“这样不太好吧。”
唐生皱起眉来。
“我又不懂医术！若是你给我混乱诊断，将我医坏了，那该怎么办？”
林如火说道。
见唐生似乎不情愿，她心里就更开心了。
没等唐生再说话，她就命旁边的一个药童，去将猿荣大师给请出来了。
猿荣大师，头发花白，却精神奕奕，地境初期的修为。
长着一双三角眼，眉毛很粗，看面相就有些凶恶。
“林如火团长，不知你要请在下出来，做一个什么见证？”
猿荣大师对于林如火，很是客气。
“你给我医治了半个月的真气岔气都没有痊愈，这个小药童，大言不惭，说可以帮我治疗好！所以，我就跟他打了赌！我不敢给他随便治疗，所以，就请猿荣大师来给我把把关。看看这个小药童到底是真有本事，还是一个十足的骗子！”
林如火说道。
“原来如此。一个小药童而已，不懂规矩，我这就轰他走！林如火团长，不必当真！”
猿荣大师赔笑着说道。
转过身来，对着林如火的笑容完全没有了。
转而的是阴沉着一张老脸，那三角眼阴沉得也有些吓人。
“你是哪个药师身边的药童？还懂不懂规矩了？让你的老师来见我！”
猿荣大师的声音，阴沉冰冷得可怕。
唐生成为药阁的第二位上阁药师，虽然轰动，虽然很多甲等药师都不服，想着要整唐生，但是真正见过唐生面的，并没有几人。
甲区的药童，猿荣大师都认得。
所以，他很快就断定唐生和唐小溪，并非是甲区的药童，应该是其它区的人。
直接训斥小药童，太掉他的身份了，所以，他要训斥药童背后的老师！
“猿荣大师，这块令牌，你可认得？”
唐生懒得废话。
事情都闹到了这个份上，再隐藏也没有什么意义了。
看来，这个猿荣大师，他怎么都算得罪了。
所以，他直接将上阁药师的身份令牌拿了出来。
“上阁药师令牌？你是……新来的那个唐生药师？”
猿荣看到这个令牌，又看到唐生的年纪，他浑身一颤，顿时明白了过来。
“上……上阁药师？你……你这幺小，居然……居然是上阁药师了？”
林如火一听，傻眼了，瞪大着眼睛。
美眸认真看了唐生手中的上阁药师令牌，又看着眼前这个只有十六七岁的俊俏少年。
声音有些发颤，张大着嘴巴，一副难以置信的震撼样子。
可是，猿荣口中说出的话，定然不会有假的。
什么是有眼不识泰山？
此刻，林如火就身临其境的体验一番这有眼不识泰山的滋味了。
她知道，天玄商会绝对不会随随便便让一个无能的人坐上这上阁药师的位置的。
这少年是真有本事的。
十六七岁的上阁药师，她知道这意味着什么，这绝对是药道里的天才了。
“姐姐，我家少爷说能治你的病，那就真的能治你的病。少爷的医术，那是得到张华雀大师肯定的。”
小溪在旁边，小声着悄悄的说道，小脸满是自豪和崇拜。
不过，这一会林如火觉得小溪对于唐生的这种自豪和崇拜，没有什么看不顺眼了，反而觉得合情合理，理所当然的了。
她赶紧说道：“是……是我鲁莽了！唐……唐生大师，刚刚小女子有眼不识泰山，真的是让您见笑了！我立刻收回我刚刚那番无礼的话。这……这颗黑玉，既然你喜欢，我就给你做赔罪礼了。你一定要收下啊，不然我可会寝食难安的。”
林如火并不傻，放低了姿态，赶紧赔罪道歉，一脸的巴结讨好。
作为武者，打打杀杀，谁没有伤筋动骨的时候？
结交一位厉害的药师，关键时候可能挽救自己一条命啊。
“这黑玉我收下了，我也不占你便宜，你的病，我会替你治疗好的。我们走吧。”
唐生将他的上阁药师令牌收了回来，同时也不客气的收了林如火递过来的纯阴阳煞玉。
入袋为安！
到手了！
趁着猿荣还在发愣之际，他赖得理会，转身欲走。
这里的动静，本来就引发许多药童的围观，可发现唐生居然是上阁药师后，就连其他的甲等药师也都出来围观了。
“这个人，就是传说中新来的上阁药师么？太年轻了吧！比我还小，他真的有实力么？还是靠后台坐上去的？”
“应该是有几分本事的吧。你看他，这是直接抢猿荣大师治不好的病人，这是直接打猿荣大师的脸啊！这是下马威啊！”
“嘿嘿，倒是身边的小丫鬟，真漂亮啊。”
其中还有些来这里诊断的一些强者、富人。
也在小声的议论纷纷。
“你们天玄商会的药阁，居然来了一位上阁药师了？”
“就是他么？太年轻了吧！到底有没有本事啊！”
“他为什么穿药童的衣服出现在甲区？他为什么要抢猿荣大师的病人？他和猿荣大师有私人恩怨么？”
毕竟，抢病人乃是一件很令人不齿的事情。
特别还是一位药师治不好的病人，你直接去人家门口说你能治好，这让那位治不好的药师如何下台？这还让不让人家混了？
其实唐生也懂得这个道理。
所以，他才让林如火先去他的诊室。
只是林如火偏偏大嗓门，喊来了猿荣大师，将事情闹大到这种程度。
“站住！”
猿荣大师也回过神来。
哪里容得唐生走？
面子倒是其次的，主要是林如火身上的毒，那可是他下的啊！</textarea> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/22.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/24.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
var cont = $('textarea').val();
// 非html文本进行换行美化
if($('textarea').val().indexOf('<div')==-1 && $('textarea').val().indexOf('<p')==-1 && $('textarea').val().indexOf('<br')==-1 && $('textarea').val().indexOf('<img')==-1){
	cont = '';
	var arr = $('textarea').val().split('\n');
	$.each(arr, function(i, n){
		cont += '<div style="line-height:1.7;text-indent: 2em;">'+n+'</div>';
	});
}
$('#content').html(cont);
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
</script> 
 </body>
</html>