<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第24章　揭穿狠辣 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第24章　揭穿狠辣 </strong></td> 
     </tr> 
     <tr> 
      <td id="content"> 
       <div style="line-height:1.7;text-indent: 2em;">
        唐生算是张华雀派系的人了！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        药堂乃是张华雀掌管的地方。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        发生这种事情，本该是张华雀来主持调解的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        只是张华雀正好早晨出门，直到现在都没有回来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        其实，唐生的心里更有一种担心。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这猿荣和石庚庆，是不是一伙的？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这林如火身上的毒，是不是跟石庚庆也有关联？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        不管如何，唐生发现，他无形之中，已经置身于险局里了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀不在，这个时候，他更不能让林如火这位天境后期的强者走。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “林如火团长，你还不能走！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生开口，叫住了转身欲要离开的林如火。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        顿时，所有的目光，再度落在唐生的身上。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        人家石庚庆会长都让林如火团长走了！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        你唐生却不让人家走？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这是打石庚庆会长的脸啊！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        你唐生想要干什么？是想要天玄商会药堂内部矛盾外部化么？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        所以，听到唐生这话，林如火也傻眼了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “唐生，你和猿荣大师的矛盾，无论怎么样，都是天玄商会药阁的内部矛盾！不需要将它扩大化出去，让外人来看热闹和耻笑吧！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        石庚庆的脸，果然黑了起来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他的眸子，也阴沉了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “家丑是不好外扬！但是，医德还是要声张，正义还是要弘扬，一些害群之马，也应该扫除出我们天玄商会药阁的医师队伍的！而我唐生，也不是那种随便哪个阿猫阿狗，都可以给我扣下帽子的！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生还是那副淡然的姿态。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        可话说到这里，他的目光突然锋利起来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        锋利如剑！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        至刺向对面含怒不发的石庚庆的阴沉目光。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        然后，又看向那边一脸凶态的猿荣大师的三角眼。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        不知怎么的，这一刻，石庚庆跟唐生对视时，突然感受到眼前这位只有淬体六重的少年，形象突然高大得让他无法撼动起来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        而猿荣大师呢？他被唐生这如剑的目光一刺，内心突然生出一种恐慌！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “你这话，到底是什么意思？我们天玄商会里的药师，都是德高望重，在唐家城里深受敬重。唐生，今日你若是不将话给说清楚，哪怕你是张华雀带进来的，那么今日我也要按照天玄商会的规矩，将你处置！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        石庚庆怒声训喝。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “我所说的害群之马，就是猿荣大师！他表面上是给这位林如火团长看病，实则是悄悄的给这位林如火团长下毒。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生此话一出，坐下皆惊，在场的药师都露出震撼的神色。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        一些围观的病人，脸上则露出恐慌之状。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这话若是真的，那么对于天玄商会的药阁名声的打击，可想而知。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这里的药师给病人下毒，以后谁还敢来这里看病？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        猿荣大师傻住了！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        被……被这个小子发现了？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        完了，他完蛋了！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他的三角眼里，凶光一闪而过。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        蕴含着杀意。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “小畜生，老夫岂能容你如此的污蔑？给我去死！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        猿荣大师说着，直接朝唐生出手。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他本是地境修为，出手就是地级武技碎骨分筋手，奔着要唐生的命去的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        话都没有说明白，就想要杀唐生灭口。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        按道理来说，作为会长的石庚庆，这个时候会站出来阻止猿荣大师出手，来让唐生拿出证据来的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        可是，石庚庆却在这时候，假装发愣，反应不过来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生目光一凛。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他最不想看到的就是这局面。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这石庚庆，果然想要他死。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这是杀他灭口！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生毕竟只有淬体六重，没法逃得过猿荣大师破空而来的碎骨分筋手。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        现在，就看林如火团长，出不出手了！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        如果林如火团长不出手，那么今日唐生只怕凶多吉少了！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        就在这时候，一道火红的身影，从唐生的身后闪出，拦在了唐生面前。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        正是林如火团长出手了！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生长舒一口气，他赌对了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “住手！猿荣大师，此事关系到我的个人安危，还请你先冷静一会儿，让唐生大师将话说清楚。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        林如火伸出手来，对上猿荣大师的碎骨分筋手，天境后期的气场辐荡开来，霸气的笼罩全场。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        猿荣大师被一掌击退。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        脸色大变。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        神情又急又怒里，带着几分慌张。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “猿荣大师，不得鲁莽！唐生既然说你给病人下毒，那你就让他将话说清楚！他若是真污蔑你，到时候本会长定然还你一个公道的！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        石庚庆会长，这时候才假装回过神来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        没有得杀死，他的眸子不经意间，闪过一丝的失望。　
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生正好将石庚庆眸子里的一抹失望，看在眼里，他的眸子也一寒！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “好！小畜生，那你就拿出证据来！你若是拿不出证据，那么今日不是你死就是我亡！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        猿荣大师怒声说道，口气虽然凶硬，但是他心里没有底。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “既然你要证据，那么我就给你证据。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生淡淡的说道，一副成竹在胸，早已窥破真相的姿态。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        先对着林如火问道：“林如火团长，你来给猿荣大师看病，只是练功岔气么？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “是的。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        林如火点点头。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她对于唐生的好感直线上升。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        知道唐生身为天玄商会的药师，却冒着毁掉天玄商会药阁的名声来给她诊断，这是顶着多大的压力啊。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        当然也知道，若是她身上真的被猿荣大师下毒了，那么只怕唐生以后也别想在天玄商会里混了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “你在给猿荣大师治病的期间，可给其他人看过？若是去过什么可能导致你中毒的危险地方，或者做过什么可能导致你中毒的危险事情么？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生再问道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “没有。我这些天除了来给猿荣大师看病，就是按照他的吩咐，在家里精心修养。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        林如火说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “口说无凭！谁知道你还去过什么地方，做过什么事情？毕竟你乃是红霜兵团的团长，经常出入尸魔山脉执行任务的。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        猿荣大师插嘴进来，大声辩解说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他这样，越发的显示他的心虚。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “有就有，没有就没有。我林如火做过的事情，自然会认！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        林如火大声的说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        眸子里也带着几分的火气。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        没想到，这表面上看起来德高望重的猿荣大师，这个时候竟然说出这样的话来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        她也并不傻，这家伙若不是心里有鬼，怎么会这样？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “在场出来两位甲级药师，为了验明猿荣大师是否给林如火团长下毒，我说了还不算，还请你们来诊断确认一下。石庚庆会长，这该没有什么问题吧。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生说到这，目光看向石庚庆。
       </div> </td> 
     </tr> 
    </tbody>
   </table> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/23.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/25.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
$(window).scroll(function(){
	var scrollTop = $(this).scrollTop();   
	var scrollHeight = $(document).height();  
	var clientHeight = $(this).height();
	if(scrollTop + clientHeight >= scrollHeight && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}else if(scrollTop<=0 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}
});
</script> 
 </body>
</html>