<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第25章　杀人灭口 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第25章　杀人灭口 </strong></td> 
     </tr> 
     <tr> 
      <!-- 				<td align="right" valign="top"><strong>内容</strong></td> --> 
      <td id="content"> </td> 
     </tr> 
    </tbody>
   </table> 
   <textarea style="display: none;">石庚庆见唐生看着他，心里杀机闪烁，表面却一片平静。
可是，在这样的场面里。
又不能拒绝唐生的要求。
“没有什么问题。”
他随手点了两位甲级药师出来。
药堂毕竟是张华雀的地盘，这里的甲级药师也只有猿荣是他的心腹，其他的都不是。
“唐生，你要我们怎么做？”
这两位药师冷冷的说道，对于唐生的态度非常的不友好。
毕竟唐生这样的行为，乃是在拆药堂的台！
“林如火团长，你先将手中的丹方交给这两位大师看看。这是猿荣大师刚刚为你开的丹方吧？”
唐生问道。
“是的。”
林如火点点头，同时将手中的丹方交给这两位甲级药师观看。
“这张丹方开得中正平和，乃是调理岔气的药方，开得并无问题！”
这两位甲级药师立刻就做出了判断。
“林如火团长，劳烦你再给两位药师来诊断一下脉象。”
唐生说道。
“好。”
林如火伸出右手来。
两位药师轮流上前来给林如火号脉。
“脉象有些波动，那是吃了丹方药材的迹象。哪里来的中毒？”
这两位药师同时得出这个结论。
“唐生，你还有什么话说？”
石庚庆这时候插话进来，适时候的打断诊断节奏，一双冷眸带着几分杀意，直视向唐生。
唐生直接将石庚庆给忽略掉，对着林如火说道：“林如火团长，在两位药师诊断你脉象的时候，劳烦你运转一下你体内的真气。”
“嗯。”
林如火点点头。
运转体内的真气。
两位药师继续号脉。
先号脉的这一位，似乎发现了什么，他脸色微变，拿过猿荣大师开的那张药方，又认真的看了一遍。
另一位药师再上前号脉，果然脸色也变了。
看到两位甲级药师脸色的古怪，不再向唐生针锋相对，反而目光带着愤怒、不耻、厌恶的看着那边的猿荣大师。
顿时，所有人都明白了。
“两位，诊断结果如何？”
唐生淡淡的问道。
两人犹豫了一下，众目睽睽之下，总不能睁着眼睛说瞎话吧，他们说道：“猿荣大师开的丹方里，有几味药本来没有毒性的，可是这药性正好和林如火团长体内的真气属性相冲，长期服用确实会引发慢性中毒症状。”
此话一出，围观之人，全都一片哗然。
“猿荣大师，你还有什么话要说的？”
唐生淡淡的问道。
“我……我学艺不精，这是……这是误诊。”
猿荣大师还想要为自己的罪名开脱。
他看向石庚庆，想要石庚庆维护他，却看到了石庚庆给他使了一个逃跑的眼神。
猿荣大师心领神会，运转身法，撒腿就跑。
就在这个时候，只觉得身后一道人影快速的跟进。
掌风破空而起。
回头一看，追击他的人，正是石庚庆。
一股死亡的危险，在他的心底里生起。
“你……”
顿时，猿荣大师明白了，这石庚庆想要杀他灭口！
“猿荣，天玄商会的名声都给你败完了，你还有脸逃？以死谢罪吧！给我死！”
石庚庆说着，一掌拍碎了猿荣大师的脑袋。
事情实在是太突然了！
唐生也没有料到这石庚庆会下如此的狠手，直接当场杀死了猿荣大师。
“他这是在杀人灭口。”
唐生心里凛然。
在场这么多高手，猿荣大师这位一位地境级别的药师，能够逃到哪里去？你石庚庆分明可以轻易的将猿荣大师给擒拿下的。
可石庚庆却没有。
分明是心里有鬼。
“诸位，天玄商会药阁出了猿荣这么一个败类，实在是让我们天玄商会蒙羞！天玄商会对于这种败类，也绝不姑息，发现一个斩杀一个！还请诸位相信我们天玄商会的信誉，相信我们药阁药师们的品性，向猿荣这样的败类，绝对不会再有第二个了！”
杀人灭口后，这石庚庆一副痛心疾首、义愤填膺的姿态，一边声讨着猿荣的恶行，将什么罪过都推到猿荣的身上，一边大义凛然的以天玄商会的名义来承诺，来保证，安抚围观客人的情绪。
然后，让人将围观的观众引导开。
“林如火团长，这件事情天玄商会药堂，会给你一个交代的。你体内的中毒，我们天玄商会回请最好的药师来帮你治疗的。”
石庚庆会长满脸的笑容。
一副想要大事化小的姿态。
当然了，他也不怕林如火闹，小小的红霜兵团还敢跟天玄商会闹么？
那是以卵击石！
“请高明的药师来治疗就不必了，就让唐生大师来给我治疗就行了。”
林如火说道。
“这个……唐生的年纪还小，只怕担负不了此重任……”
石庚庆说道。
至始至终看都不看一眼唐生。
“怎么，石庚庆会长很了解我的医术么？你怎么知道我治不好林如火团长的病？”
唐生淡淡的说道。
他敢肯定石庚庆和林如火中毒事件有关。
戳破这个阴谋时，自然就将石庚庆给得罪光了。
既然如此，那么唐生也不必要再对着石庚庆客客气气了。
“唐生，你这话是什么意思？”
石庚庆眸子不善的看着唐生，这小子居然敢当众挑衅他的威严。
“话都说到这个份上了，那么我也不怕说丑话了。林如火团长和猿荣大师应该是平日里无愁无恨吧。可为什么猿荣大师要对林如火团长下毒呢？这个原因都还没有查清楚，石庚庆会长，你就当场将猿荣大师给击杀！难道以石庚庆会长的实力，当场擒下猿荣大师下来，真的很难么？”
唐生淡淡的说道。
此话一出，围观的人也皆是一楞。
在场的人，没有一个是傻子，被唐生这话一点醒，大家看石庚庆的目光，都古怪起来。
尤其是林如火，似乎想到什么，脸色微变。
“唐生，你好大胆，敢污蔑我勾结猿荣这样的败类，谋害林如火团长么？”
石庚庆怒红的双眼里，全都是杀意。
看他这架势，就是想要动手了！
“怎么，想要对我动手么？我劝你还是掂量掂量自己吧！我来天玄商会做这上阁药师，乃是东伯雪姑娘邀请的。我怎么也算是东伯雪姑娘的客人。你敢杀我，试试看？”
唐生淡淡的将东伯雪这个后台搬出来。
也不信石庚庆敢当场杀他。
“林如火团长，我既然拿了你的黑玉，那么就算是接受了你的诊金。你的病情，对我来说，并不是什么难事。我们换个地方来治疗吧，省得在这里，又出什么意外。”
唐生懒得去理会石庚庆了。
很快他就可以修炼《九阳阴元淬体术》，到时候，他也不怕这石庚庆来杀他了。</textarea> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/24.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/26.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
var cont = $('textarea').val();
// 非html文本进行换行美化
if($('textarea').val().indexOf('<div')==-1 && $('textarea').val().indexOf('<p')==-1 && $('textarea').val().indexOf('<br')==-1 && $('textarea').val().indexOf('<img')==-1){
	cont = '';
	var arr = $('textarea').val().split('\n');
	$.each(arr, function(i, n){
		cont += '<div style="line-height:1.7;text-indent: 2em;">'+n+'</div>';
	});
}
$('#content').html(cont);
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
</script> 
 </body>
</html>