<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第26章　九阳阴元 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第26章　九阳阴元 </strong></td> 
     </tr> 
     <tr> 
      <!-- 				<td align="right" valign="top"><strong>内容</strong></td> --> 
      <td id="content"> </td> 
     </tr> 
    </tbody>
   </table> 
   <textarea style="display: none;">林如火也不傻，当然看出这石庚庆也有问题，只是苦于没有证据，不好发作而已。
也懒得理会石庚庆了。
“也好！那就去我的红霜兵团吧。”　
林如火提议说道。
石庚庆就这样在众目睽睽之下，被唐生和林如火无视了。
这是直接不将他放在眼里。
这让他的脸往哪搁？
他捏紧着拳头，眸子里全都是杀意。
“唐生，你给我站住！”
石庚庆大声的喝道。
“石庚庆，你有什么吩咐？”
唐生转过身来，还是那副平淡的姿态。
“你怎么也是天玄商会药阁的药师，我则是天玄商会的会长。你敢跟我作对？”
石庚庆眸子里的杀机已经不再掩盖了。
毕竟，这是一个强者为尊的世界，弱者就要臣服于强者之下。
唐生只是一个淬体六重的小子，哪怕他的医术再高，也改变不了唐生是一个弱者的事实。
“首先，我并没有跟你作对，我揪出了猿荣这个害群之马，算是立了功，维护了天玄商会药阁的声誉，你非但不奖赏我，反而还对我有敌意，心怀杀意。”
“其次，你本可以擒下猿荣逼问他为什么要给林如火下药的原因，可你却选择将其当场击杀，行为可疑，我不不再信任你。”
“再者，林如火团长的中毒，本来就是因为我们天玄商会药堂所导致的，我上门给林如火团长治疗，你为什么要百般阻拦？”
“最后，我是东伯雪姑娘邀请来天玄商会的上阁药师，可不是你石庚庆的个人奴仆，你没有资格也没有权利对我指手画脚呼来喝去的。”
“你若是不爽，大可以将我开除出天玄商会的药阁。不过，我若是没有记错，你也没有这个权利吧。药阁乃是张华雀大师掌管的。所以，张华雀大师没有回来前，你还是先想好为什么要击杀猿荣这个害群之马的理由吧！”
唐生平静的回答。
声音不大，条理清晰，有理有据，让石庚庆又气又怒，又无法反驳。
这一下子，立刻就将石庚庆推到了跟猿荣乃是同谋的风头浪尖。
说完，他转身就离开。
“这……”
这一次，石庚庆没有拦，不过，看向唐生离开的背影，全都是杀意和恨意。
那捏紧的拳头，指甲都陷入到肉里。
……
猿荣给林如火下毒的事情，在唐家城里传了出去，贵圈里一片哗然。
石庚庆咽不下这口气。
所以，他要请杀手杀死唐生！
方圆十城，最出名的杀手组织，叫做“血影”。
传闻，只要你出得起价格，他们连灵丹境级别的强者，都可以去刺杀。
“小子，不管你什么身份，你都要给我死！”
石庚庆决定请杀手来解决掉唐生，以出他心里的这口恶气！
……
唐生跟着林如火回到红霜兵团。
林如火的病，并不难治。
不用唐生出手，小溪金针渡穴，几针下去就可以治好。
“林如火团长，你看看，体内的毒素还在不在？”
唐生询问。
“已经完全好了。”
林如火运转真气，发现畅通无阻，练功岔气的毛病也没有了。
对于唐生，她更是感激了。
“唐生，那石庚庆显然对你怀恨在心，恨不得将你杀之而后快。我看，那天玄商会，你就别回去了，呆在我这里，我敢保证，那石庚庆不敢来动你一根汗毛！”
林如火说道。
“也好，那我和小溪，就在这里叨扰几天了。”
在这种时候，唐生也不拒绝。
因为张华雀早晨外出，直到晚上都没有回来。
所以，没有张华雀护着，唐生那里敢再回天玄商会的药阁？
在红霜兵团这里，高手如云。
只怕石庚庆想要派人来杀他，也要掂量几分吧。
……
闲聊几句，天已经黑。
林如火为唐生和小溪安排了一间小别院。
四下无人。
唐生吩咐小溪到旁边的房间里休息，他要开始尝试修炼了。
“适时候修炼《九阳阴元淬体术》了！”
房间里，唐生盘膝而坐。
那块得自林如火处的纯阴阳煞玉，出现在他的手中。
里面的纯阴阳煞之气，很是精纯。
《九阳阴元淬体术》，乃是一门横练的外功，修炼至大成的时候，单靠肉身的力量就足以跟天境巅峰的强者匹敌。
镇龙传承，也是横练功法，不过，它可以由外而内，打破生命的桎梏，让生命进化和超脱。
《九阳阴元淬体术》当然比不上镇龙传承的万分之一了，可它如今却可以解唐生的燃眉之急。
毕竟，他的实力在世俗里还是太弱了！
“我十二经脉天生堵塞，无法修炼内息功法，但是这种外门的横练功法却可以修炼！”
唐生心里暗自的想着。
这也是他经脉堵塞，仍然对镇龙传承抱有希望的原因。
……
一缕月光，从窗口照射而下。
盘膝在床上的唐生，双手握着那块纯阴阳煞玉，丝丝缕缕的纯阴阳煞，从煞玉里流出，慢慢的顺着唐生的手掌心，流入到唐生的经脉里。
唐生运转《九阳阴元淬体术》法诀，将体内的纯阴阳煞之气，搬运到身体的三十六处大穴里。
阴煞，属寒性。
慢慢的，唐生的头发、眉毛、肌肤表层，都泛起了淡淡的冰渣。
可是他的肌肤，却诡异的泛起了淡红之色。
一丝丝的人体杂质，从他的体内淬炼出来。
他在脱胎换骨！
……
已经是后半夜了。
夜很黑。
一道如同鬼魅的影子，翻过红霜兵团的院墙，快速的潜入进去，朝着唐生所在的客房而去。
“目标唐生，年龄十七，淬体六重，天玄商会上阁药师，黄级四星任务：割喉。”
这个影子已经来到了唐生的窗外。
他屏息静气的站在阴影处几秒钟，倾听一下房间里的动静。
房间里，传来了有节奏的呼吸声，目标像是熟睡了。
他的嘴角泛起一抹笑容。
这是一个轻松的任务。
他熟练的撬开唐生的窗户，几乎没有弄出一点儿声响。
然后如灵猫般跃入，在地一个翻滚，直接朝着唐生的床边而去。
被子翻看，手中的短刀即将割喉。
可被子下面，只有一个盖住的枕头，没有唐生。
“人呢？”
黑衣人囔囔自语。
“在这里。”
这个时候，一个声音从床角的黑暗里，淡淡响起。
“你是……唐生？”
黑衣人大骇。
若不是这唐生出声，他根本没有发现唐生就站在那里。
“我正是。”
唐生淡淡的回答。
“有人让我来取你的命。”
“命”字还没有落下时，几道带毒的寒芒从黑衣人的袖子里飞射而出。
与此同时，黑衣人的地境的气势爆发而出，人刀合一的紧跟在这毒针的后面，直奔唐生的喉咙而去。
不愧是杀手。
哪怕是对方躲过了毒针，也躲不过他紧随而来的致命一刀。
然而，唐生并没有躲。
他的手掌摊开，运转《九阳阴元淬体术》，那储藏在全身三十六个大穴里的九阳阴元之气，搬运在他的手掌里。
黑夜里。
唐生的手中泛起了微红。
微红的表层，似乎凝聚起一层薄薄的冰雾。
诡异的一幕，出现了。
只见随着唐生手掌这一甩的轨迹划过，那射向唐生面门的毒针，悉数落在了唐生的手里。
黑衣人又惊又骇。
能够轻而易举的就将他的毒针给接下来，这哪里是淬体六重的小子能够做得到的？只怕是地境巅峰，都未必做得到像这个少年那样轻松写意啊。
“混蛋！任务目标实力严重评估错误！这哪里是黄级四星的简单任务？这简直是玄级七八星的任务了！”
只是箭在弦上，不得不发。
地境，真气附体！
只见他手中的短刃在直奔唐生喉咙的时候，突然泛起了寸长的刀气。
“给我死！”
黑衣人低沉的吼道。
他知道，生死在此一举了。</textarea> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/25.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/27.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
var cont = $('textarea').val();
// 非html文本进行换行美化
if($('textarea').val().indexOf('<div')==-1 && $('textarea').val().indexOf('<p')==-1 && $('textarea').val().indexOf('<br')==-1 && $('textarea').val().indexOf('<img')==-1){
	cont = '';
	var arr = $('textarea').val().split('\n');
	$.each(arr, function(i, n){
		cont += '<div style="line-height:1.7;text-indent: 2em;">'+n+'</div>';
	});
}
$('#content').html(cont);
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
</script> 
 </body>
</html>