<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第27章　血影杀手 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第27章　血影杀手 </strong></td> 
     </tr> 
     <tr> 
      <!-- 				<td align="right" valign="top"><strong>内容</strong></td> --> 
      <td id="content"> </td> 
     </tr> 
    </tbody>
   </table> 
   <textarea style="display: none;">唐生还是站在原地没有动。
黑衣人眼看他短刃上的刀气，就要割破唐生喉咙的皮肤了，可就在这时候，只听见咔嚓的一声响。
一股钻心的痛传来。
黑衣人就看到他握刀的手，就像是枯朽的树枝一样，轻轻的就被唐生折断下来。
“不好！”
黑衣人大骇，也很果断。
一只手被这段下来，他几乎面不改色。
转身就像逃跑。
空手入白刃，瞬间折断他的手臂，这刺杀的目标，只怕已经达到了天境。
混蛋！
天境强者派他来刺杀，那不是让他来送死么？
“你逃不掉的。”
唐生的声音，在黑夜里，如同死神般冷冷的响起。
黑衣人还没有来得及转身，只觉得右腿突然一痛，也不知道怎么就被唐生打中了，只觉得整只右腿都失去了知觉。
黑衣人倒在地上，全身抽搐起来。
唐生眉头微皱，走上前一看，只怕心这黑衣人已经咬破了藏在牙齿里的毒药，服毒自杀了。
“杀手么？”
唐生暗自想着。
谁会派杀手来杀他？
答案呼之欲出了，除了白天得罪过的石庚庆，还能有谁？
“还好我已经将《九阳阴元淬体术》修炼至小成！否则还真交代在这里。”
这也给唐生敲响了一个警钟。
在这强者为尊，弱肉强食的世界，哪怕是在世俗世界，实力才是最根本的！
这里的打斗，还是弄出了声响。
没过多久，林如火就带着人赶了过来。
“唐生，你没事吧！”
林如火第一时间关切的询问唐生的情况。
“我没有事，这黑衣人服毒自杀了，你看看从他的身上，查探出些什么线索么？”
唐生说道。
同时，他还要安抚旁边有些担惊受怕的小溪。
林如火的脸色很难看。
白天唐生刚刚救了她一命，如今在她的红霜兵团总部里，就遭到了刺杀。
这是狠狠的打她的脸！
“团长！唐生大师！这黑衣人是‘血影’的玄牌杀手！”
旁边一位验尸的大汉，从黑衣人的储物戒指里拿出了一块玄色的令牌，令牌上印有“血影”的标志。
听到“血影”二字，在场的人脸色都一变，看向唐生的目光也古怪起来，仿佛就像是看一个死人。
“你们将尸体抬走，都出去吧。”
林如火沉着声音说道。
很快，房间里就只剩下唐生、小溪和林如火三人了。
“唐生大师，客套的话我也不多说了，能请动‘血影’的玄级杀手来刺杀你，乃是需要花费极其高的代价的。你除了白天因为我的事情，得罪了石庚庆外，还得罪过谁么？”
林如火很直接的问道。
“除了石庚庆，我得罪的人里，没有谁有这样的能耐了。”
唐生淡淡的说道，至于唐宏父子，还没有这个本事，他如今也不把他们父子放在眼里了。
“你想怎么做？我林如火不是那种忘恩负义的人。”
林如火秀眉一挑，杏眼里带着几分杀意。
很显然，猿荣大师对她下毒的事情，石庚庆也定然有份的。
“团长的好意，我心领了。不过，你身为红霜兵团的团长，拖家带口的，这些私人恩怨，我自己处理就行了。”
唐生婉拒了。
他如今还真不怕那石庚庆了。
林如火听到这话，心里有些感动。
“天一亮，我就辞去这红霜兵团的团长职务！”
林如火也不是那种不讲义气的人。
“你若真想还了我的人情，不如你告诉我，这块煞玉到底从哪里来的，如何？”
唐生说道。
林如火一听，脸色微变，露出了犹豫之色。
唐生顿时明白了。
每个人都有秘密。
只怕这块煞玉涉及到了林如火的秘密。
“在下唐突了。不过，团长若是还有这种煞玉，可否卖几块给在下？在下实在是很急需这样的煞玉。”
唐生换了一种方式。
他的《九阳阴元淬体术》只修炼到小成，要想更进一步，需要更多的纯阴阳煞之气才行。
“你需要多少块？”
林如火问道。
唐生一听，愣了愣。
他本来就是随口一说，心里不报多少希望。
要知道，这纯阴阳煞玉，哪怕是对于灵丹境强者来说，也是价值不小的天材地宝。
这林如火还真有？
“先前那块大小的，大概十块左右。”
唐生说道。
“三天后，我拿给你。”
林如火郑重承诺道。
“多谢。”
唐生认真的说道。
“这杀手，你杀的？”
林如火问道。
“是的。”
唐生点头。
“你小心些。‘血影’这个杀手组织，有‘事不过三’的原则。他这次杀你不成，下次还会派人来杀你。直到杀你三次，你若还不死，他们才会善罢甘休。”
林如火说道。
“我明白。”
唐生记了下来。
……
第二天下午的时候，唐生正在院子里教导小溪身法和拳法。
让唐生再度震撼了。
这小丫头的修炼天赋就和她的丹道天赋一样的妖孽变态，几乎一学就会，一会就精通。
看来，镇龙传承的辅助灵药收集，全靠这小丫头了。
这时候，张华雀大师得知唐生在红霜兵团后，急急就赶来赔罪了。
毕竟，唐生还是东伯雪的贵客。
“老弟，老哥我照顾不周，照顾不周！我已经告知了石庚庆那小儿，你是雪小姐的贵客，没想到他还敢对你无礼！”
张华雀不停的赔礼道歉。
“无妨。”
唐生淡淡的说道。
昨晚他被血影杀手刺杀的事情，他也不打算告诉张华雀了。
有些恩怨，还是简单粗暴点解决的好。
所以，这次张华雀再次邀请唐生会天玄商会，唐生并没有拒绝，只是这回他没有带上小溪。
他托林如火帮忙照顾几天。
回到天玄商会时。
石庚庆见到唐生还活着，面容有些不好看。
他心里暗骂：怎么血影的杀死效率这么低了？委托任务交定金时，吹牛都吹上了天！说晚上就能够解决这个小子，现在呢？这个小子大摇大摆的又出现在他的面前。
他可不想人死在天玄商会里！
“唐生，不知道林如火团长的毒，你治疗好了没有？”
石庚庆不阴不阳的问道，颇有问责之意。
反正已经撕破脸皮了，他也不再拐弯抹角了。
“已经医治好了，让你费心了。”
唐生淡淡的说道。
“昨夜风大，可曾睡得安稳？”
石庚庆意有所指的问道。
“睡得安稳，会长你呢？”
唐生问道。
“当然安稳。”
石庚庆皮笑肉不笑的说道。</textarea> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/26.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/28.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
var cont = $('textarea').val();
// 非html文本进行换行美化
if($('textarea').val().indexOf('<div')==-1 && $('textarea').val().indexOf('<p')==-1 && $('textarea').val().indexOf('<br')==-1 && $('textarea').val().indexOf('<img')==-1){
	cont = '';
	var arr = $('textarea').val().split('\n');
	$.each(arr, function(i, n){
		cont += '<div style="line-height:1.7;text-indent: 2em;">'+n+'</div>';
	});
}
$('#content').html(cont);
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
</script> 
 </body>
</html>