<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第30章　大张旗鼓 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第30章　大张旗鼓 </strong></td> 
     </tr> 
     <tr> 
      <td id="content"> 
       <div style="line-height:1.7;text-indent: 2em;">
        李克瞥了张华雀一眼，笑道：“张华雀，你老是动不动就将东伯雪小姐搬出来吓唬我们！我还真怕你丹斗输了，想耍赖时，又搬出东伯雪小姐来。那你让我们怎么办？所以，我们大家都以玄木剑宗的名义来起誓，这样总该谁也耍不来赖了吧。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “哼！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀只有冷哼一声。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “你们看看，赌约还有什么赌注条款要补充的么？没有的话，我们就按手印吧。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        李克有些迫不及待起来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他就怕张华雀和唐生最后反悔，不来这个丹斗赌约了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀拿过赌约，跟唐生一起看。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这赌约的独斗条款，还当真将刚刚所说的内容，全都写上去了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        谁若是输了，那就跪着爬到城门口，学狗叫三天三夜，还要骂自己的祖宗十八代，骂自己是狗娘生狗娘养的。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这么恶毒的赌约，谁若是输了，还有脸活在这个世界上么？
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “老弟，你……你有把握么？若是没有把握，我们认怂一点就是了。我不信，这石庚庆和李克，还敢对我们动武？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀压低声音，小声的对着唐生说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        表面淡定，可心里害怕得发毛。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        若是输了，他不敢想象这结果了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这一生也就毁了，那简直比死还难受。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “无妨的，老哥，相信我的医术。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生淡淡的说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他用手掌粘了一下朱砂，按了下去。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        看到唐生按得如此的干脆利落，张华雀心里发苦，万分不愿意，可也只好舍命陪君子，也按了下去了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “哈哈！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        李克接过赌约，他也干脆利落的按下去，旁边的石庚庆犹豫了一下，也按了下去。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “来人，将这赌约贴在南城门口最显眼的地方，对了，找几个在旁边敲锣打鼓的大力宣传，让过往的人都看看热闹！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        李克呼唤来一个下人，对其进行了吩咐。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        很是得意。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        仿佛这场丹斗赌约，他已经赢了一样。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “李克小儿，丹斗还没有开始，你就以为自己赢了么？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀看不惯李克这幅小人得志的嘴脸。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “哈哈！张华雀老儿，忘记告诉你一件事情了，早在半个月前，我的医术已经达到了六品药师的级别了！没想到吧！跟我斗？你还差得远了！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这时候，赌约已经张榜出去了，李克也不怕张华雀和唐生反悔，终于将这个秘密给说了出来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “什么？你……你已经是六品药师了？啊！李克，你故意逼我们签下这丹斗赌约，你……你还卑鄙无耻！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀一听，脸色顿时煞白起来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        浑身气得不停的发抖！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “哦，还有一件事情要告诉你！那就是我无意中得到了一张厉害的丹斗药方，别说是跟六品药师丹斗了，哪怕是跟七品药师丹斗，我都有把握赢他！所以，这次丹斗，你们输定了！做好了跪城门学狗叫骂你们祖宗十八代狗娘生狗娘养的准备吧！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        李克越说越得意。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        旁边的石庚庆，也跟着哈哈大笑起来。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “你……你……”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀听到这，两眼一黑，几乎站立不稳。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        完蛋了！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他张华雀的一世英名，只怕要毁在了这里了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “老哥，振作点。不是还没有开始丹斗么？请你相信我。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生赶紧扶住被吓过头的张华雀，安慰着。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        六品药师算什么？就算是六品灵丹师，他也不怕啊。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “没用的！没用的！你不是他对手的！李克小儿，卑鄙无耻，我们都上他的当了！我们不应该中了他的激将法，跟他签订什么丹斗赌约的。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀万分后悔，精神恍惚。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他深知六品药师的厉害，本能的以为唐生不会是对手。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生劝说几句都没有效果，他叹息一声，那只能够用结果来说话。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “我们在哪里丹斗？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        唐生淡淡的问道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “当然是在人最多的地方了！天玄商会的大门广场里！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        李克说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        ……
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        丹斗，又称毒斗。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这是指两个药师用指定范围内的一定数量的药材，当场配制成毒药，先给自己服用下去，再用在场的药材，当场配制出解药来给自己解毒。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        然后，在将自己配置的毒药给对方服用下去，若是对方在规定的时间内无法解毒，那么算是对方输。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        双方约定，各自报出一百种药材。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他们的丹斗所选择的药材，只能够在这两百株药材里选择。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        ……
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        天玄商会的大门广场，已经搭建好了丹斗的擂台。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        周围围满了看热闹的人。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “咦？这是干什么？敲锣打鼓的，天玄商会要搞什么促销活动么？走，去看看！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “好像不太像搞促销！似乎是更像是在比武！你们看，那个气息威严如天的男子，他是天玄商会的会长石庚庆！那个一身丹袍气质奇贵的老者，他是大名鼎鼎的张华雀大师！他们都是我们唐家城最顶尖的人物，跺跺脚唐家城都要颤三颤！他们都到场了，这怎么可能是搞促销？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “不管了！去凑凑热闹，那就知道了。目睹一下这些大人物的风采，也是可以的！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        广场上，很多过往的行人，都围了过来，很快就围得水泄不通了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        石庚庆见围观的人来得差不多了。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        清了清嗓子，对着旁边的张华雀，虚伪的问了句：“张老，你来向大家介绍这场丹斗，还是我来介绍呀。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        他得意洋洋的神态，说不出的挑衅之意。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “石庚庆！做人莫要太得意过头了！小心搬起石头砸了自己的脚！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀冷冷的说道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        心里窝着一团憋屈的怒火。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “看来，还是我说吧。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        石庚庆见将张华雀气到了，他更加的开心。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “诸位，安静一下！在下是天玄商会的石庚庆，想必在场有些人也认识在下！今天，在这搭这比武台，主要是有几件事情要向大家宣布，同时也是向大家通报一下。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        石庚庆故意用内力，融入进声音里。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        所以，他的声音听起来很浑厚，也传得很远，几乎整个广场的人都听得清楚。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “石庚庆会长，到底有什么事情要向大伙儿宣布啊！是不是天玄商会的宝剑和丹药，可以有折扣？”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        台下，有地位还算高的人，大声的问道。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        很显然，像石庚庆这样的人物，台下想要巴结他的人很多。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        不过，石庚庆没有理会这些人的说话和问题，继续说道：“想必，有些人已经知道了，昨天，我们天玄商会的药阁，因为首席药师张华雀的管理无方，以至于药阁出了猿荣药师这么一位败类。”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        这话说到这里，在场的人有些小骚动。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        显然，很多人还不知道猿荣大师给林如火下毒的事情。
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        “这混蛋！”
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        张华雀双眸喷火！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        猿荣明明是这石庚庆的人，甚至还有可能是石庚庆指使的呢！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        没想到这个卑鄙小人，硬是将屎盆子往他的头上扣！
       </div>
       <div style="line-height:1.7;text-indent: 2em;">
        而且还当众说出来！
       </div> </td> 
     </tr> 
    </tbody>
   </table> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/29.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/31.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
$(window).scroll(function(){
	var scrollTop = $(this).scrollTop();   
	var scrollHeight = $(document).height();  
	var clientHeight = $(this).height();
	if(scrollTop + clientHeight >= scrollHeight && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}else if(scrollTop<=0 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}
});
</script> 
 </body>
</html>