<!doctype html>
<html lang="zh-cn">
 <head> 
  <title>正文_第5章　仗势欺人 | 熊猫看书</title> 
  <meta name="keywords" content="关键词"> 
  <meta name="description" content="描述"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="shortcut icon" href="/zone/static/images/favicon.ico"> 
  <link rel="stylesheet" href="/zone/plugins/bootstrap/bootstrap.min.css"> 
  <link rel="stylesheet" href="/zone/plugins/font-awesome/css/font-awesome.css"> 
  <script type="text/javascript">var ctx = '/zone';</script> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/bootstrap/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/zone/plugins/layer/layer.js"></script> 
  <style>
::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #95B8E7;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background: #EDEDED;
}
</style> 
  <script type="text/javascript" src="/zone/plugins/jquery/jquery.lazyload.min.js"></script> 
  <style type="text/css">
body{background: #0f1112}
.container{
/* 	border: 1px solid #444; */
	color: #666;
	background: #111 url(/zone/static/images/read_black.png) repeat;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft YaHei'  !important;
	font-size: 18px  !important;
	letter-spacing:2px;
}
.table>tbody>tr>td{border: none}
table img,table video{max-width: 100%;margin-bottom: 10px}
a{color: #666}
a:hover{color: #ddd}
</style> 
 </head> 
 <body> 
  <div class="container"> 
   <table class="table"> 
    <tbody>
     <tr> 
      <td><strong>正文_第5章　仗势欺人 </strong></td> 
     </tr> 
     <tr> 
      <!-- 				<td align="right" valign="top"><strong>内容</strong></td> --> 
      <td id="content"> </td> 
     </tr> 
    </tbody>
   </table> 
   <textarea style="display: none;">唐中简看着唐木苟。
目光很是冰冷。
“你打算怎么处理？”
很显然，唐木苟得罪了那位扫地老人，这使得唐中简对于唐木苟的态度，也随之变化了。
他现在就要唐木苟给他一个说法。
唐木苟内心一寒。
感受到了唐中简冰冷目光里的不善。
这一刻，他明白了。
只怕他在第三武院学府里待不下去了。
“我对学生出手，没有师德，我愿意辞去第三武院学府副院长的职位！不过，公事是公事，私事是私事！父债子还，这小子的父亲骗我三万两，他若是还不起，我要他的命！”
唐木苟指着那边的唐生，厉声的说道。
都是因为这混蛋，他才得罪那位扫地老人的。
都是因为这混蛋，他才丢了副院长的职位的。
现在，他快接近一无所有了！
他必须抱上龙少这条大腿。
这是孤注一掷了！
龙少要得到唐小溪来调教和玩弄，那么唐生就是绊脚石，就必须要死。
所以，他死死的抓住和唐生的恩怨，这才利于龙少拿这件事来布局，而他们父子在龙少的眼中，才会有些作用。
唐中简眉头微皱。
没想到唐木苟如此直接，还如此的果断。
扫地老人是身份不简单，可是龙少的来头也不小啊。
一个要唐生生，一个要唐生死，哪边他唐中简也得罪不起啊。
他转过身来，看着那边的唐生。
他很意外。
这个十七八岁的少年，在经历过这场近乎生死的事情后，还是一脸的镇定。
可惜了，若非他天生经脉堵塞，以后定非池中之物。
毕竟，在这个武修的世界，强者为尊，实力的强弱是决定很多事情的先决条件。
大概这也是老前辈救下这个少年，可看到这个少年修为如此之低后，又懒得再搭理的原因吧。
想到这点，唐中简的心里，已经有了抉择。
他说道：“唐生，你父亲唐硝石是这里的老师，我和他也有些交情。可是，父债子还，这乃是天经地义的事情。现在，唐木苟已经不再是第三武院学府的副院长了，只要你呆在学府里，我敢保证他不敢在这里动你一根汗毛！”
唐中简这番话的言外之意，就是他不插手唐生和唐木苟的恩怨，同时，唐生若是离开了第三武院学府，那么是生是死，他也不会去管。
“多谢院长主持公道！父债子还，这乃是天经地义的事情。我还不起钱，唐木苟要杀我，我也无可奈何。可是，我并非还不起钱！”
唐生说道。
“哦？”
唐中简一听，没有立刻搭话，而是瞥向唐木苟那边一眼。
如果唐生能够还钱，那么唐木苟那边，自然就没有再杀唐生的理由了。
但他知道，这件事情，欠债不过是唐木苟找来光明正大对唐生出手的一个幌子而已。
这唐木苟，哪里是要唐生还钱，他想要的是唐生的命啊。
“哈哈哈哈！小子，你说你能还钱，那你还钱啊！你若是还我钱，我保证不为难你！”
唐木苟嗤笑起来。
笑容里带着无尽的冷意。
他看着唐生身上那件廉价的粗麻布衣，又看着唐生身边连衣服都买不起，只能够穿唐生穿剩下的补丁衣服的唐小溪。
这是家里有三万两的人么？
别说三万两了，他敢保证，这唐生的家里，连三百两都没有。
唐生等的就是这句话了。
他对着唐木苟说道：“事前我并不知道我父亲拿这假的玲珑玉手镯向你借三万两的事情，三万两也不是一个小数目，我要凑钱，需要花一些时间。”
唐生需要的是时间。
他需要花时间来提升实力修为。
当然了。
凭他前世乃是九品灵丹师的本事，赚三万两银子，还不是信手拈来？
“哈哈！唐生，你这个穷鬼，你有几斤几两，我们会不知道？我看你是想拖延时间，苟延残喘吧！”
唐宏终于在两个小弟的搀扶下站了起来。
趁着这个机会，他怒声的嘲笑，揭穿唐生的目的。
“我只需要一个月的时间，一个月后，定然还钱给你们。”
唐生平静的说道。
“一个月？一个月后，你若是不能够还钱呢？”
唐宏一副冷笑的样子，哪里肯信唐生的鬼话？
“一个月还不了，我愿意拿命来抵！在此，也请院长在这里为我这番话做一个公证。”
唐生又看向一旁的唐中简。
唐中简则是看向唐木苟，要他做公证，当然还需要征求债权人方的意见了。
“好！我答应你！一个月后，你还不了钱，我取你狗命！当然了，在这期间，我若是发现你逃跑，那么我也来取你狗命！”
唐木苟制止了想要说话的儿子，答应下来。
一是唐生提的要求也合情合理。
二是他也需要这一个月的时间来缓冲和布局。
毕竟，他要的可不是唐生的命，他的目的，是如何取悦龙少。
现在龙少还没有发话，就算他取了唐生的命，那也是为自己撒撒气而已。
相反，这唐生若是死得早了，反而还会坏了龙少的事呢。
那样一来，他就弄巧成拙了。
唐中简也想快点结束这发生在他地盘上的这件麻烦事。
做个公证人，并没有什么。
老前辈刚刚之所以出手救唐生，大概也是一时兴起，不想唐木苟在众多的学生面前斩杀唐生，丢尽师德师颜吧，而并非是对唐生这个人有多大的好感。
一个月么？
这也好。
大概一个月后，老前辈都忘记唐生这个人了。
到那个时候，唐生是死是活，关他唐中简什么事情？
只要唐生现在不死在他的地盘上，不要碍他的眼的就行了。
“既然你们双方都找我做公证人，那我就当仁不让了！唐生，你答应父债子还，一个月后还足唐木苟三万两。一个月后，你若是食言失信，到时候你愿意拿命来抵，这是你说的！另外，唐木苟，在这一个月里，你也不得再找唐生的麻烦！你们既然找我做公证人，谁若是违背了，那就是不给我唐中简的面子，那到时候，也休怪我唐中简不给他面子！”
唐中简这番话，融进了他地境的气势里，说得非常有威势。
可他的心里，却不以为然，只想着走个过场。
“多谢老哥做公证！唐生，这一个月里，我会找人盯着你的。你若是敢逃跑，我也不杀你，直接打断你狗腿！”
唐木苟目光森然的盯着唐生，如同一头恨不得将唐生撕碎的恶狼。
“哼！”
唐生冷哼一声，他嘴角慢慢的勾起一丝冰冷的弧度。
一个月后，谁死谁活？
还那三万两，倒也是其次的了。
这唐木苟父子想要杀他，唐生何尝不是想以牙还牙？
……
事情告一段落，曲终人散！
唐生带着小溪，走出了第三武院学府。
他并没有发现有人跟踪。
这才舒了口气。
那龙血玉手镯，再度出现在唐生的手里。
“小溪，你对于你父母的事情，有什么记忆么？”
唐生目光闪烁着异芒，他看着小溪不动声色的询问。
小溪摇摇头。
她被唐生捡回家时，还不到两岁，那幺小，她根本没有什么记忆。
虽然不知道自己的父母是谁，他们为什么要扔下自己，但是小溪也不去想了，她觉得只要每天跟唐生生活在一起，她就很开心，哪怕生活再苦再累。
“这个玲珑玉手镯，可能是你父母留给你的身世信物。不过它对少爷还有些用处，先放在我这里了。”
唐生说道。
他收起了龙血玉手镯！
至于小溪的身世，他并不打算现在就说明。
不过，能够拥有龙血玉手镯作为身世信物，会简单么？
简直充满了谜团。
“嗯。”
小溪点点头。
她和唐生相依为命这么多年，早就不分彼此了。
“少爷，我们现在该怎么办？”
她又满是担忧的问道。
“什么怎么办？”
唐生一下子没有反应过来。
“三万两银子啊！这一个月里，我们怎么筹三万两银子还唐宏那混蛋？”
小溪急急的瞪了唐生一眼。
她都愁死了，没想到唐生还不将这当一回事。
“哈哈，不就是三万两么？少爷既然答应他们一个月内能还，那就能还。”
唐生笑起来。
“什么办法？”
小溪眼睛一亮。
“一会你就知道了。”
唐生笑得很高深莫测。
小溪不依不饶，可见唐生还是不说，她才作罢，只好等一会儿再看看了。
在这过程中。
唐生的意念沉入丹田，引导丹田的内息真气。
他倒要检查一番，他体内的十二经脉到底出了什么问题，为什么会堵塞。
这对一位九品灵丹师来说，乃是小儿科的事情。
要从淬体六层突破到淬体七重，需要循序渐进的打通体内的十二经脉，让体内的内息真气，逐渐在经脉里形成一个周天循环。
唐生的修为之所以永远停滞在淬体六重，就是因为无法用体内的内息真气打通堵塞经脉的缘故。
“咦？”
当唐生将他的内息真气运转到十二经脉时，这十二经脉突然产生一股火热的奇异灵力，将他运转到那里的内息真气全都吸收。
“怎么回事？”
唐生也愣住了。
这哪里是什么经脉堵塞？
这完全就是这十二经脉出了问题，主动吸收光他的真气，让他连打通经脉的机会都没有。
他再通过几种不同的方法进行尝试，还是无法查找具体的原因。
淬体六重，体内的内息真气也很有限。
尝试几次，内息真气就已经见底了，需要一段时间的恢复才行。
“我内息真气不够强大，根本就冲不开十二经脉的第一重吸收封锁。看来，要想进一步的检查，需要借助外力才行。”
无奈之下，唐生只好暂时的放弃。
而所谓的借助外力，就是借助一些有灵气的天材地宝，用它们的灵气来取代内息真气，帮其抵挡住十二经脉的吸收吞噬，好让他的内息真气进入十二经脉里检查。</textarea> 
   <div style="text-align: center;"> 
    <a class="last" href="/zone/craw/view/xmkanshu/4.html">上一篇</a> 
    <a href="/zone/chart/view/xmkanshu.html" style="margin:0 50px">目录</a> 
    <a class="next" href="/zone/craw/view/xmkanshu/6.html">下一篇</a> 
   </div> 
  </div>  
  <script type="text/javascript">
var cont = $('textarea').val();
// 非html文本进行换行美化
if($('textarea').val().indexOf('<div')==-1 && $('textarea').val().indexOf('<p')==-1 && $('textarea').val().indexOf('<br')==-1 && $('textarea').val().indexOf('<img')==-1){
	cont = '';
	var arr = $('textarea').val().split('\n');
	$.each(arr, function(i, n){
		cont += '<div style="line-height:1.7;text-indent: 2em;">'+n+'</div>';
	});
}
$('#content').html(cont);
$('#content').find('img').each(function(){// 必须指定高度才能懒加载
	$(this).attr('data-original',$(this).attr('src')).removeAttr('src').attr('height','600px');
});
$('#content img').lazyload({
	effect : "fadeIn",
	load:function(num){// 加载后去掉高度限制
		$('#content img').not('img[src^="data:image/png"]').removeAttr('height');
	}
});

// $('#content').viewer();
$(document).keydown(function(e){
	if(e.which == 37 && !$('.last').hasClass('disabled')){
		location.href = $('.last').attr('href');
	}else if(e.which == 39 && !$('.next').hasClass('disabled')){
		location.href = $('.next').attr('href');
	}
});
</script> 
 </body>
</html>